<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>厂房出租_房产租售网</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="../static/default/mobile/skin/css/reset_1.css">
    <link rel="stylesheet" href="../static/default/mobile/skin/css/hui.css">
    <link rel="stylesheet" href="../static/default/mobile/skin/css/base_1.css">
    <link rel="stylesheet" href="../static/default/mobile/skin/css/swiper.min.css"/>
    <link rel="stylesheet" href="../static/default/mobile/skin/css/list.css">
    <script src="../static/default/mobile/skin/js/rem.js"></script>
    <script src="../static/default/mobile/skin/js/index.js"></script>
    <style>
        .listCon li > a {
            overflow: initial;
        }
    </style>

</head>
<body>

<div id="goToUp"></div>
<!--头部-->
<header class="headBox">
    <!--<a href="" class="back"></a>-->
    <a href="http://m7.fangcms.cn" class="logo"><img src="../static/uploads/allimg/20200722/1-200H21IS5396.png" alt=""></a>
    <h2><a id="city" href="/chuzu">{{ other.area }}厂房出租<i
            class="icon_arrow"></i></a>
    </h2>
    <a class="serchIcon"></a>
    <a class="nav" id="clickNav"></a></header>
<!--顶部导航频道-->
<!--<nav id="nav"></nav>-->
<style>
    #nav .foot li {
        width: 33.333%;
    }
</style>
<nav id="nav">
    <div class="navCon">
        <div class="head"><img src="../static/default/mobile/skin/images/navigation_banner.png" alt=""> <a
                href="javascript:void(0);" class="navIcon"></a></div>
                <ul class="menuNav clearFix">
            <li><a href="/chuzu" target="_self"> <img
                    src="../static/uploads/allimg/20200525/1-2005251636055R.png" alt="厂房">
                <p>厂房出租</p>
            </a></li>
            <li><a href="/xiezilou" target="_self"> <img
                    src="../static/uploads/allimg/20200525/1-2005251636055R.png" alt="写字楼出租">
                <p>写字楼出租</p>
            </a></li>
            <li><a href="/chuzu?area=深圳" target="_self"> <img
                    src="../static/uploads/allimg/20200525/1-200525163K2502.png" target="_self" alt="深圳厂房出租">
                <p>深圳厂房</p>
            </a></li>
            <li><a href="/chuzu?area=东莞" target="_self"> <img
                    src="../static/uploads/allimg/20200525/1-200525163PRc.png" target="_self" alt="东莞厂房出租">
                <p>东莞厂房</p>
            </a></li>
            <li><a href="/chuzu?area=惠州" target="_self"> <img
                    src="../static/uploads/allimg/20200525/1-200525163T5J2.png" target="_self" alt="惠州厂房出租">
                <p>惠州厂房</p>
            </a></li>
            <li><a href="/xiezilou" target="_self"> <img
                    src="../static/uploads/allimg/20200525/1-20052516393VH.png" target="_self" alt="深圳写字楼出租">
                <p>深圳写字楼</p>
            </a></li>
        </ul>
        <ul class="foot clearFix">
            <li><a href="/"> <img
                    src="../static/default/mobile/skin/images/u4ob1430vlok1pz8lfjxqlrbgvlvply7qkhgzdwq.png" alt="首页">
                <p>首页</p>
            </a></li>
            <li><a href=""> <img
                    src="../static/default/mobile/skin/images/ne2z5ipn1kgoknzbpq5dcmkixsvxiqyohfvaqnnl.png" alt="公司简介">
                <p>公司简介</p>
            </a></li>
            <li><a href=""> <img
                    src="../static/default/mobile/skin/images/qqbzyi4culnfeeaye2deq7yduigugqe00uustyuf.png" alt="联系我们">
                <p>联系我们</p>
            </a></li>
        </ul>
        <div class="close"></div>
    </div>
    <div class="mask"></div>
</nav>
<!--banner-->
<div><a href=""><img
        src="../static/default/mobile/skin/images/list_banner.png" alt=""></a></div>
<!--筛选-->
<div class="screenBox">
    <section class="screenTabBox ">
        <div class="selectWrap ">
            <ul class="W20 clearFix">

                {% if other.area_id %}
                <li class="regSelect"><span class="focus">{{ other.area_id }}<i></i></span></li>
                {% else %}
                <li class="regSelect"><span>区域<i></i></span></li>
                {% endif %}

                {% if other.space %}
                <li class="areaSelect"><span class="focus">{{ other.space }}<i></i></span></li>
                {% else %}
                <li class="areaSelect"><span>面积<i></i></span></li>
                {% endif %}

                {% if other.price %}
                <li class="priceSelect"><span class="focus">{{ other.price }}<i></i></span></li>
                {% else %}
                <li class="priceSelect"><span>价格<i></i></span></li>
                {% endif %}

                {% if other.strc %}
                <li class="sortSelect"><span class="focus">{{ other.strc }}<i></i></span></li>
                {% else %}
                <li class="sortSelect"><span>结构<i></i></span></li>
                {% endif %}

                {% if other.keyword or other.floor %}
                <li class="moreSelect"><span class="focus">{{ other.keyword or other.floor }}<i></i></span></li>
                {% else %}
                <li class="moreSelect"><span>更多<i></i></span></li>
                {% endif %}
            </ul>
        </div>
        <!--筛选内容-->
        <div class="eject">
            <!--地区筛选-->
            <div class="grade-eject">
                <ul class="grade-w" id="gradew">
                    <li><a href="javascript:void(0);" class="focus">深圳</a></li>
                    <!--                    <li><a href="javascript:void(0);" class="focus">东莞</a></li>-->
                    <!--                    <li><a href="javascript:void(0);" class="focus">惠州</a></li>-->
                </ul>
                <ul class="grade-t" id="gradet">
                    <li>
                        <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                           data-url='/chuzu?area={{ other.area }}&price={{ other.price }}&space={{ other.space }}&strc={{ strc }}&floor={{ other.floor }}&keyword={{ other.keyword }}'
                           class="focus">不限</a>
                        {% for area in other.areas %}
                        {% if area == other.area_id %}
                        <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                           data-url='/chuzu?area={{ other.area }}&area_id={{ area }}&price={{ other.price }}&space={{ other.space }}&strc={{ other.strc }}&floor={{ other.floor }}&keyword={{ other.keyword }}'
                           class="focus">{{ area }}</a>
                        {% else %}
                        <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                           data-url='/chuzu?area={{ other.area }}&area_id={{ area }}&price={{ other.price }}&space={{ other.space }}&strc={{ other.strc }}&floor={{ other.floor }}&keyword={{ other.keyword }}'
                           class="">{{ area }}</a>
                        {% endif %}
                        {% endfor %}
                    </li>
                </ul>
                <div id="ey_f374fa669b56b73635af740ec57faab1" style="display:none;"></div>
                <script type="text/javascript">
                    function ey_97c0670026ad69b846ea069ffdb217a9(obj, target) {
                        var dataurl = obj.attributes['data-url'].value;
                        if (dataurl) {
                            if (target === '_blank') {
                                window.open(dataurl);
                            } else {
                                window.location.href = dataurl;
                            }
                        } else {
                            console.log('内部错误，data-url 没有赋值！');
                        }
                    }

                    function ey_3c160ded72fd680a55a591829e72a776(obj) {
                        var index = obj.selectedIndex;
                        var dataurl = obj.options[index].attributes['data-url'].value;
                        if (dataurl) {
                            window.location.href = dataurl;
                        } else {
                            console.log('内部错误，data-url 没有赋值！');
                        }
                    }

                    function ey_64a6969e1e14debe4c36b3a960553da7(obj, currentstyle) {
                        var name = obj.attributes['data-name'].value;
                        var value = obj.attributes['data-value'].value;
                        if (name) {
                            var texs = document.getElementsByName(name + '_name');
                            for (var i = 0; i < texs.length; i++) {
                                texs[i].className = "";
                            }
                            document.getElementById(name).value = value;
                            document.getElementById(name + value + '_id').className = currentstyle;
                        } else {
                            console.log('内部错误，data-name 没有赋值！');
                        }
                    }

                    function ey_2b2c5ac3a587605ea04ae24d33acff35(currentstyle) {
                        var texs = document.getElementById('ey_f374fa669b56b73635af740ec57faab1').childNodes;
                        for (var i = 0; i < texs.length; i++) {
                            var xuanzhong = document.getElementById(texs[i].id + texs[i].value + "_id");
                            if (xuanzhong) {
                                xuanzhong.className = '';
                            }
                            var buxian = document.getElementById(texs[i].id + "_id");
                            if (buxian) {
                                buxian.className = currentstyle;
                            }
                            texs[i].value = "";
                        }
                    }

                    function ey_9c1d2b4a1029a5fd76cff1980876dffe(originUrl) {
                        var texs = document.getElementById('ey_f374fa669b56b73635af740ec57faab1').childNodes;
                        for (var i = 0; i < texs.length; i++) {
                            var re = "&" + texs[i].name + "=((?!&).)*";
                            var replace_str = originUrl.match(new RegExp(re));
                            if (replace_str) {
                                originUrl = originUrl.replace(replace_str[0], '');
                            }
                            if (texs[i].value) {
                                originUrl = originUrl + "&" + texs[i].name + "=" + texs[i].value;
                            }
                        }
                        window.location.href = originUrl;
                    }
                </script>
                <div class="mask_fix"></div>
            </div>
            <!--面积-->

            <div class="brand-eject two-eject centerEject">
                <ul class="top12">
                    <li><a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                           data-url='/chuzu?area={{ other.area }}&area_id={{ other.area_id }}&price={{ other.price }}&strc={{ strc }}&floor={{ other.floor }}&keyword={{ other.keyword }}'
                           class="focus">不限</a></li>
                    {% for s, s_context in [("0,500", "500平米以下"), ("500,1000", "500-1000平米"), ("1000,1500",
                    "1000-1500平米"),
                    ("1500,2500",
                    "1500-2500平米"), ("2500,4000", "2500-4000平米"), ("4000,6000", "4000-6000平米"), ("6000,10000",
                    "6000-10000平米"),
                    ("10000,99999", "10000平米以上") ] %}
                    {% if s == other.space %}
                    <li><a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                           data-url='/chuzu?area={{ other.area }}&area_id={{ other.area_id }}&price={{ other.price }}&space={{ s }}&strc={{ other.strc }}&floor={{ other.floor }}&keyword={{ other.keyword }}'
                           class="focus">{{ s_context }}</a></li>
                    {% else %}
                    <li><a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                           data-url='/chuzu?area={{ other.area }}&area_id={{ other.area_id }}&price={{ other.price }}&space={{ s }}&strc={{ other.strc }}&floor={{ other.floor }}&keyword={{ other.keyword }}'
                           class="">{{ s_context }}</a></li>
                    {% endif %}
                    {% endfor %}

                </ul>
                <div class="mask_fix"></div>
                <div id="ey_adc944f6498fb3a5f8219e88bc273955" style="display:none;"></div>
            </div>

            <!--价格-->
            <div class="brand-eject two-eject centerEject">
                <ul class="top12">
                    <li><a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                           data-url='/chuzu?area={{ other.area }}&area_id={{ other.area_id }}&space={{ other.space }}&strc={{ strc }}&floor={{ other.floor }}&keyword={{ other.keyword }}'
                           class="focus">不限</a></li>
                    {% for p, p_context in [("0,10", "10元/平米/月以下"), ("10,15", "10-15元/平米/月"), ("15,20", "15-20元/平米/月"),
                    ("20,25",
                    "20-25元/平米/月"), ("25,99", "25元/平米/月以上")] %}
                    {% if p == other.price %}
                    <li><a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                           data-url='/chuzu?area={{ other.area }}&area_id={{ other.area_id }}&price={{ p }}&space={{ other.space }}&strc={{ other.strc }}&floor={{ other.floor }}&keyword={{ other.keyword }}'
                           class="focus">{{ p_context }}</a></li>
                    {% else %}
                    <li><a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                           data-url='/chuzu?area={{ other.area }}&area_id={{ other.area_id }}&price={{ p }}&space={{ other.space }}&strc={{ other.strc }}&floor={{ other.floor }}&keyword={{ other.keyword }}'
                           class="">{{ p_context }}</a></li>
                    {% endif %}
                    {% endfor %}

                </ul>
                <div class="mask_fix"></div>
                <div id="ey_68bd9488a3bbea474de362d3169b4779" style="display:none;"></div>
            </div>

            <!--结构-->
            <div class="sort-eject one-eject centerEject">
                <ul class="top12">
                    <li><a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                           data-url='/chuzu?area={{ other.area }}&area_id={{ other.area_id }}&price={{ other.price }}&space={{ other.space }}&floor={{ other.floor }}&keyword={{ other.keyword }}'
                           class="focus">不限</a></li>
                    {% for strc in ["标准厂房", "简易厂房", "钢结构厂房"] %}
                    {% if strc == other.strc %}
                    <li><a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                           data-url='/chuzu?area={{ other.area }}&area_id={{ other.area_id }}&price={{ other.price }}&space={{ other.space }}&strc={{ strc }}&floor={{ other.floor }}&keyword={{ other.keyword }}'
                           class="focus">{{ strc }}</a></li>
                    {% else %}
                    <li><a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                           data-url='/chuzu?area={{ other.area }}&area_id={{ other.area_id }}&price={{ other.price }}&space={{ other.space }}&strc={{ strc }}&floor={{ other.floor }}&keyword={{ other.keyword }}'
                           class="">{{ strc }}</a></li>
                    {% endif %}
                    {% endfor %}

                </ul>
                <div class="mask_fix"></div>
                <div id="ey_4a9e8e99f92f62c1123f28c648baff8c" style="display:none;"></div>
            </div>
            <!--更多-->
            <div class="more-eject">
                <dl>
                    <dd>
                        <h4>特色</h4>
                        <div>
                            <span class="more focus"><a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                                                        data-url='/chuzu?area={{ other.area }}&area_id={{ other.area_id }}&price={{ other.price }}&space={{ other.space }}&strc={{ other.strc }}&floor={{ other.floor }}'
                                                        class="c_d42">不限</a></span>
                            {% for keyword in ["可办公", "可环评", "高速路", "园区厂房", "有空地", "有产权", "独栋厂房", "花园式", "国道", "个人厂房",
                            "机场", "码头", "铁路"] %}
                            {% if keyword == other.keyword %}
                            <span class="more focus"><a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                                                        data-url='/chuzu?area={{ other.area }}&area_id={{ other.area_id }}&price={{ other.price }}&space={{ other.space }}&strc={{ other.strc }}&floor={{ other.floor }}&keyword={{ keyword }}'
                                                        class="c_d42">{{ keyword }}</a></span>
                            {% else %}
                            <span class="more "><a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                                                   data-url='/chuzu?area={{ other.area }}&area_id={{ other.area_id }}&price={{ other.price }}&space={{ other.space }}&strc={{ other.strc }}&floor={{ other.floor }}&keyword={{ keyword }}'
                                                   class="">{{ keyword }}</a></span>
                            {% endif %}
                            {% endfor %}


                        </div>
                    </dd>
                    <dd>
                        <h4>楼层</h4>
                        <div>
                            <span class="more focus"><a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                                                        data-url='/chuzu?area={{ other.area }}&area_id={{ other.area_id }}&price={{ other.price }}&space={{ other.space }}&strc={{ other.strc }}&keyword={{ other.keyword }}'
                                                        class="c_d42">不限</a></span>
                            {% for floor in ["一楼厂房", "二楼以上", "独院厂房", "独栋厂房"] %}
                            {% if floor == other.floor %}
                            <span class="more focus"><a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                                                        data-url='/chuzu?area={{ other.area }}&area_id={{ other.area_id }}&price={{ other.price }}&space={{ other.space }}&strc={{ other.strc }}&floor={{ floor }}&keyword={{ other.keyword }}'
                                                        class="c_d42">{{ floor }}</a></span>
                            {% else %}
                            <span class="more "><a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                                                   data-url='/chuzu?area={{ other.area }}&area_id={{ other.area_id }}&price={{ other.price }}&space={{ other.space }}&strc={{ other.strc }}&floor={{ floor }}&keyword={{ other.keyword }}'
                                                   class="">{{ floor }}</a></span>
                            {% endif %}
                            {% endfor %}

                        </div>
                    </dd>
                    <div id="ey_f035691dd24ce4f5f6ccf1335a874c13" style="display:none;"></div>          <!--提交重置按钮-->
                    <dd style="height: 1.2rem"></dd>
                </dl>
                <div class="mask_fix"></div>
            </div>
        </div>
    </section>
</div>
<!--内容-->
<div class="hui-wrap" id="listBox">
    <div id="refreshContainer" class="hui-refresh">
        <div class="hui-refresh-content hui-list">
            {% if other.keyword %}
            <p id="loading-alt"><a id="arcpagelist0001">搜索关键词为 " <i style="color: #e03b36">{{ other.keyword }}</i> ", 共有
                <i style="color: #e03b36">{{ other.total }}</i> 条结果 </a></p>
            {% endif %}
            <ul id="lists0001" class="listCon plr30">
                {% for item in data %}
                <li>
                    <a href="/item?item_id={{ item.item_id }}" class="clearFix">
                        <div class="pic"><i>{{ item.address }}</i> <img lazysrc="{{ item.img_url }}"
                                                                        src="{{ item.img_url }}"
                                                                        class=" "
                                                                        onerror="javascript:this.src='{{ item.img_url }}'">
                        </div>
                        <div class="txt">
                            <h2>{{ item.title }}</h2>
                            <p class="baseInfo">{{ item.address }}<span></span></p>
                            <p class="label"></p>
                            <p class="price cfPrice"><span>{{ item.price_month }}元/㎡/月</span>
                                <span>{{ item.area }}<span>㎡</span></span></p>
                        </div>
                    </a>
                </li>
                {% endfor %}

            </ul>
            <p id="loading-alt">
                {% if other.current_page + 1 <= other.page %}
                <a href="/chuzu?area={{ other.area }}&page={{ other.current_page + 1 }}&area_id={{ other.area_id }}&price={{ other.price }}&space={{ other.space }}&strc={{ other.strc }}&floor={{ other.floor }}&keyword={{ other.keyword }}"
                   id="arcpagelist0001" data-tips="数据加载完成">点击加载更多</a>
                {% else %}
                <a href="/chuzu?area={{ other.area }}&page=1&area_id={{ other.area_id }}&price={{ other.price }}&space={{ other.space }}&strc={{ other.strc }}&floor={{ other.floor }}&keyword={{ other.keyword }}"
                   id="arcpagelist0001" data-tips="数据加载完成">数据全部加载完了...点击回到第一页</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>

<!-- tab swiper -->
<section class="plr30 mt20 tabSwiperBox">
    <div class="tabTit clearFix"><a href="javascript:void(0);" class="focus">特色厂房</a> <a href="javascript:void(0);"
                                                                                         class="">热门区域</a> <a
            href="javascript:void(0);" class="">镇区推荐</a></div>
    <div class="swiper-container tabSwiper swiper-container-horizontal swiper-container-ios focus">
        <ul class="swiper-wrapper">
            <li class="swiper-slide swiper-slide-active" style="width: 345px;">
                {% for keyword in ["可办公", "可环评", "高速路", "园区厂房", "有空地", "有产权", "独栋厂房", "花园式", "国道", "个人厂房", "机场", "码头",
                "铁路", "一楼", "二楼以上", "独栋", "单层厂房", "多层厂房", "双层厂房"] %}
                {% if keyword == other.keyword %}
                <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                   data-url='/chuzu?area={{ other.area }}&area_id={{ other.area_id }}&price={{ other.price }}&space={{ other.space }}&strc={{ other.strc }}&floor={{ floor }}&keyword={{ keyword }}'
                   class="focus">{{ keyword }}</a>
                {% else %}
                <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                   data-url='/chuzu?area={{ other.area }}&area_id={{ other.area_id }}&price={{ other.price }}&space={{ other.space }}&strc={{ other.strc }}&floor={{ other.floor }}&keyword={{ keyword }}'
                   class="">{{ keyword }}</a>
                {% endif %}
                {% endfor %}
                <div id="ey_f035691dd24ce4f5f6ccf1335a874c13" style="display:none;"></div>

            </li>
        </ul>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

    <div class="swiper-container tabSwiper swiper-container-horizontal swiper-container-ios">
        <ul class="swiper-wrapper">
            <li class="swiper-slide swiper-slide-active" style="width: 345px;">
                <a href="/chuzu?area=深圳">深圳厂房</a>
                <a href="/chuzu?area=东莞">东莞厂房</a>
                <a href="/chuzu?area=惠州">惠州厂房</a>
            </li>
        </ul>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

    <div class="swiper-container tabSwiper swiper-container-horizontal swiper-container-ios">
        <ul class="swiper-wrapper">
            <li class="swiper-slide swiper-slide-active" style="width: 345px;">
                <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                   data-url='/chuzu?area={{ other.area }}&area_id=南山'>南山厂房出租</a>
                <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                   data-url='/chuzu?area={{ other.area }}&area_id=宝安'>宝安厂房出租</a>
                <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                   data-url='/chuzu?area={{ other.area }}&area_id=龙岗'>龙岗厂房出租</a>
                <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                   data-url='/chuzu?area={{ other.area }}&area_id=盐田'>盐田厂房出租</a>
                <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                   data-url='/chuzu?area={{ other.area }}&area_id=龙华'>龙华厂房出租</a>
                <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                   data-url='/chuzu?area={{ other.area }}&area_id=坪山'>坪山厂房出租</a>
                <div id="ey_f374fa669b56b73635af740ec57faab1" style="display:none;"></div>
            </li>
        </ul>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</section>
<!-- /tab swiper -->

<!-- 面包屑 -->
<div class="crumbs plr30"><a href='/' class=' '>首页</a> &gt; <a
        href='/chuzu' class=' '>厂房</a> &gt; <a
        href='/chuzu'>厂房出租</a></div>
<!-- /面包屑 -->

<!--底部栏-->
<!--底部栏-->
<footer>
    <!--电话-->
    <div class="tel clearFix"><a id="semCall" href="tel:400-1234567" class="semCall">
        <p class="semCall-tel">400-1234567</p>
        <p class="semCall-text">点击拨打免费咨询</p>
    </a></div>
    <p class="link clearFix">
        <a href="">公司简介</a>
        <a href="">联系我们</a>
        <a href="">用户协议</a>
        <a href="">免责声明</a>
    </p>
    </br>
    <p class="copy clearFix" style="margin-bottom: 6px"><span><a href="https://beian.miit.gov.cn/" rel="nofollow"
                                                                 target="_blank">粤ICP备xxxxxxxx号</a></span></p>
    <p>Copyright © 2020-2028 房产租售网 版权所有</p>
</footer>
<!--搜索页-->
<section class="searchWrapBox" id="searchWrapBox">

    <!--搜索搜索-->
    <div class="formBox clearFix">
        <div class="form_div" id="factory">
            <form method="get" action="/keywords" class="clearfix form lf">
                <input type="text" name="keyword" value="" placeholder="请输入厂房出租关键词进行搜索">
                <i class="resetIco"></i>
                <button class="iconSear" type="submit"></button>
                <input type="hidden" name="page_type" value="changfang"/>
            </form>
        </div>

        <a href="javascript:;" class="rt cancel" onclick="jQuery('#searchWrapBox').hide();">取消</a>
    </div>
    <div class="searchList">
        <ul>
        </ul>
    </div>

</section>

<!--底部浮动模块-->
<div style="height: 0.88rem;visibility: hidden">s</div>
<section class="listFixBot">
    <div class="demand lf"><a href=""
                              class="semDemand"><span>需求登记</span></a></div>
    <div class="tel lf"><a href="tel:400-1234567" class="semCall" id="semCalltest"><span>点击免费拨打</span><span
            class="telTxt">400-1234567</span></a></div>
</section>
<script src="../static/default/mobile/skin/js/zepto.min.js"></script>
<script src="../static/default/mobile/skin/js/touch.js"></script>
<script src="../static/default/mobile/skin/js/hui.js"></script>
<script src="../static/default/mobile/skin/js/hui-refresh-load-more.js"></script>

<script src="../static/default/mobile/skin/js/base.js"></script>
<script src="../static/default/mobile/skin/js/swiper.min.js"></script>
<script src="../static/default/mobile/skin/js/list.js"></script>
<script src="../static/default/mobile/skin/js/list_factory.js"></script>


<script>
    var focusIndex = 5;
</script>
<script>
    window.onload = function () {
        switchNav();// 打开、关闭nav
        searchWrap();//搜索页面
        select_wrapper();//筛选
        screenTag();//筛选标签栏总宽度
        screenFix();//筛选区域滑上固定
    }
</script>
<script>
    $(function () {
        tabSwiper();
        initTabSwiper();
    })
</script>
</body>
</html>
