<!DOCTYPE html><!-- This web page is copied by "https://bazhan.wang" -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="360-analysis-id" content="2u1i38313c363b">
    <meta charset="utf-8">

    <meta http-equiv="Content-Language" content="zh-CN">
    <meta content="all" name="robots">
    <title>房产租售网</title>
    <link href="../favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="static/js/jquery00.js" type="text/javascript"></script>
    <script src="static/js/switchimage.js" type="text/javascript"></script>
    <script src="static/js/jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="static/js/jquery.blockui.js"></script><!--!‬‏‪‫‭‪‭‫‬‭‪‫‭‬‪‭‫‪‭‫‏-->
    <script type="text/javascript" src="static/js/jquery.pack.js"></script>
    <link href="static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="static/css/index.css" rel="stylesheet" type="text/css">
    <script src="static/js/uaredirect.js" type="text/javascript"></script>
    <link rel="stylesheet" href="static/css/ibase.css">
    <link href="static/css/theme.css" rel="stylesheet" type="text/css">
    <link href="static/css/newindex.css" rel="stylesheet" type="text/css">
    <script src="static/js/index.js"></script>
    <!--<script type="text/javascript">
        var zg_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    </script>-->
    <script type="text/javascript" src="static/js/koala.min.1.5.js"></script>

    <script type="text/javascript">
        function xiaoshi(obj) {
            obj.value = "";
        }

        function xianshi(obj, message) {
            if (obj.value == null || obj.value == "")
                obj.value = message;
        }

        /*导航条.显示函数*/
        function block_show(id, isHome) {
            var list = document.getElementsByClassName("n_ejmenu FR");
            for (var i = 0, j = list.length; i < j; i++) {
                list[i].style.display = "none";
            }
            if (!isHome) {
                document.getElementById(id).style.display = "block";
                document.getElementById("line").style.display = "none";
            } else {
                document.getElementById("line").style.display = "block";
            }
        }
    </script>
    <link rel="stylesheet" href="static/css/newpic.css">
</head>


<body>
<!--[if IE 6]>
<script type="text/javascript">
    DD_belatedPNG.fix('#title_list a,#title_list .off');
</script>
<![endif]-->

<!--快捷方式-->
<div class="shortcut">
    <div class="w1190 clearFix">
        <p class="lf">厂房出租 • 产业园区招商 • 企业选址平台</p>
        <ul class="rt">

            <li class="club"><a href="">业务合作 <i
                    class="icon_arrowico"></i></a>
                <p class="shorJoin shadow8px" style="display: none;"><i class="triaArrow"></i>
                    <a href="" target="_blank">公司简介</a>
                    <a href="" target="_blank">联系我们</a>
                    <a href="" target="_blank">用户协议</a>
                    <a href="" target="_blank">免责声明</a>
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="clear"></div>
<!--头部-->
<header class="header">
    <div class="w1190 clearFix">
        <div class="logo lf"><a href="/" target="_blank"><img
                src="/static/img/logo.jpg" alt="房产租售网"></a></div>
        <div class="myCity lf"><a href="#"><i class="icon_myCityLoca"></i><span>全国</span></a>
            <div class="myCityCon shadow8px ">
                <div class="cityListBox" style="margin: 0">
                    <ul class="focus">
                        <li class="current"><span>当前城市：</span>
                            <div class="cityList "><a href="#" class="selectedCity" label="">深圳</a></div>
                        </li>
                        <li><span>热门城市：</span>
                            <div class="cityList">
                                <a style="color:#e03b36" href="/chuzu?area=深圳" title="深圳">深圳</a>
                                <a style="color:#e03b36" href="/chuzu?area=惠州" title="惠州">惠州</a>
                                <a style="color:#e03b36" href="/chuzu?area=东莞" title="东莞">东莞</a>
                            </div>
                        </li>
                        <li><span>广东：</span>
                            <div class="cityList">
                                <a style="color:#e03b36" href="/chuzu?area=惠州" title="惠州"
                                   target="_blank">惠州</a>
                                <a style="color:#e03b36" href="/chuzu?area=深圳" title="深圳"
                                   target="_blank">深圳</a>
                                <a style="color:#e03b36" href="/chuzu?area=东莞" title="东莞"
                                   target="_blank">东莞</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!--主题活动板块-->
        <script type="text/javascript">
            function SelText(obj) {
                var mode = $(obj).data('mode');
                $(".mode_div").hide();
                $("#" + mode).show();
            }

            function submitForm(obj) {
                var mode = $(obj).data('mode');
                $("#form_" + mode).submit();
            }

        </script>
        <div class="activityTheme lf">
            <div class="pic"></div>
        </div>
        <div class="Hotline rt1 clearFix">
            <div class="lf pic"><img src="/static/img/hotlineico.png" alt=""></div>
            <div class="lf txt">
                <p>全国客服热线</p>
                <p>400-1234567</p>
            </div>
        </div>
        <div class="zgSearch lf">
            <div class="mode_div" id="cangfcz">
                <form method="get" action="/keywords" id="form_cangfcz" class="zgSearchForm clearFix">
                    <div class="searTypeBox">
                        <div class="searchType lf">厂房出租<i class="icon_arrow"></i></div>
                        <div class="searTypeList">
                            <ul>
                                <li><a href="javascript:;" onclick="SelText(this);" data-mode="cangfcz">厂房出租</a></li>
                                <li><a href="javascript:;" onclick="SelText(this);" data-mode="officecz">写字楼出租</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="searTxt lf">
                        <input type="text" name="keyword" placeholder="请输入厂房出租关键词，例如：深圳厂房出租等">
                    </div>
                    <button type="submit" data-mode="cangfcz" class="icon_serchSub"></button>
                    <input type="hidden" name="type" value="changfang">
                    <!--                    <input type="hidden" name="c" value="Lists">-->
                    <!--                    <input type="hidden" name="a" value="index">-->
                    <!--                    <input type="hidden" name="tid" id="tid" value="35">-->
                    <!--                    <input type="hidden" name="_screen" value="1">-->
                    <!--                    <input type="hidden" name="regionid" value="0">-->
                    <!--                    <input type="hidden" name="fid" value="0">-->
                    <!--                    <input type="hidden" name="achieve" value="0">-->
                    <!--                    <input type="hidden" name="subdomain" value="shenzhen7">-->
                </form>
            </div>
            <div style="display: none" class="mode_div" id="officecz">
                <form method="get" action="/keywords" id="form_officecz" class="zgSearchForm clearFix">
                    <div class="searTypeBox">
                        <div class="searchType lf">写字楼出租<i class="icon_arrow"></i></div>
                        <div class="searTypeList">
                            <ul>
                                <li><a href="javascript:;" onclick="SelText(this);" data-mode="cangfcz">厂房出租</a></li>
                                <li><a href="javascript:;" onclick="SelText(this);" data-mode="officecz">写字楼出租</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="searTxt lf">
                        <input type="text" name="keyword" placeholder="请输入写字楼出租关键词，例如：深圳写字楼出租等">
                    </div>
                    <button type="submit" data-mode="officecz" onclick="submitForm(this);"
                            class="icon_serchSub"></button>
                    <input type="hidden" name="page_type" value="xiezilou">
                    <!--                    <input type="hidden" name="c" value="Lists">-->
                    <!--                    <input type="hidden" name="a" value="index">-->
                    <!--                    <input type="hidden" name="tid" id="tid" value="28">-->
                    <!--                    <input type="hidden" name="_screen" value="1">-->
                    <!--                    <input type="hidden" name="regionid" value="0">-->
                    <!--                    <input type="hidden" name="fid" value="0">-->
                    <!--                    <input type="hidden" name="achieve" value="0">-->
                    <!--                    <input type="hidden" name="subdomain" value="shenzhen7">-->
                </form>
            </div>
        </div>
    </div>
</header>
<script type="text/javascript">
    function nav_show(obj) {
        $(obj).find(".xl").css("display", "block");
    }

    function nav_hide(obj) {
        $(obj).find(".xl").css("display", "none");
    }
</script>
<script type="text/javascript">
    $(document).ready(
        function () {
            $(".nav ul li").mouseenter(
                function () {
                    $(this).children("a").css("background", "");
                }
            );
            $(".nav ul li").mouseleave(
                function () {
                    $(this).children("a").css("background", "");
                }
            );
        }
    );
</script>
<!--导航栏-->
<nav class="navBox minW1190">
    <ul class="w1190 clearFix">

        <li><a class="" href="/index" target="_self">首页</a></li>

        <li><a class="" href="/chuzu" target="_self">厂房出租</a></li>

        <!--        <li><a class="" href="/chushou" target="_self">厂房出售</a></li>-->

        <!--        <li><a class="" href="/cangku" target="_self">仓库</a></li>-->

        <li><a class="" href="/xiezilou" target="_self">写字楼出租</a></li>

        <li><a class="" href="" target="_self">空地出租</a></li>
        <li><a class="" href="" target="_self">仓库出租</a></li>
        <li><a class="" href="/chuzu?area=东莞" target="_self">东莞厂房出租</a></li>
        <li><a class="" href="/chuzu?area=惠州" target="_self">惠州厂房出租</a></li>

        <li><a class="" href="" target="_self">资讯</a></li>

        <li><a class="" href="" target="_self">业务合作</a></li>

        <li><a class="" href="" target="_self">求租求购</a></li>

    </ul>
</nav>
<div class="clear"></div>
<!--轮播图-->
<div class="w1190 bannerCover">
    <!--左侧导航-->
    <div class="flNav" id="LNav">
        <section class="flNav-section">
            <h3 class="flNav-section-title">找厂房</h3>
            <div class="flNav-section-item">
                <ul class="flNav-section-tabnav clearfix">
                    <li class="active" data-target="#Tab"><a href="/chuzu?area=深圳"
                                                             target="_blank">深圳</a></li>
                </ul>
                <div class="flNav-section-tab-container">
                    <div class="flNav-section-tab-content mt-16 active" id="Tab">

                        <div class="flNav-section-tab-content-preview clearfix ">
                            <nav class="flNav-section-tab-links lf">
                                {% for zone in data.map.深圳[:4] %}
                                <a class="flNav-section-tab-link"
                                   href="/chuzu?area_id={{ zone }}" target="_blank">{{ zone }}</a>
                                {% endfor %}
                            </nav>
                            <button class="flNav-section-tab-btn is-open rt" type="button">展开</button>
                        </div>
                        <div class="flNav-section-tab-more">
                            <nav class="flNav-section-tab-links">
                                {% for zone in data.map.深圳 %}
                                <a class="flNav-section-tab-link"
                                   href="/chuzu?area_id={{ zone }}" target="_blank">{{ zone }}</a>
                                {% endfor %}
                            </nav>
                            <button class="flNav-section-tab-btn is-close rt" type="button">收起</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flNav-section-item">
                <ul class="flNav-section-tabnav clearfix">
                    <li class="active" data-target="#Tab"><a href="/chuzu?area=东莞"
                                                             target="_blank">东莞</a></li>
                </ul>
                <div class="flNav-section-tab-container">
                    <div class="flNav-section-tab-content mt-16 active" id="Tab">

                        <div class="flNav-section-tab-content-preview clearfix ">
                            <nav class="flNav-section-tab-links lf">
                                {% for zone in data.map.东莞[:4] %}
                                <a class="flNav-section-tab-link"
                                   href="/chuzu?area_id={{ zone }}" target="_blank">{{ zone }}</a>
                                {% endfor %}
                            </nav>
                            <button class="flNav-section-tab-btn is-open rt" type="button">展开</button>
                        </div>
                        <div class="flNav-section-tab-more">
                            <nav class="flNav-section-tab-links">
                                {% for zone in data.map.东莞 %}
                                <a class="flNav-section-tab-link"
                                   href="/chuzu?area_id={{ zone }}" target="_blank">{{ zone }}</a>
                                {% endfor %}
                            </nav>
                            <button class="flNav-section-tab-btn is-close rt" type="button">收起</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flNav-section-item">
                <ul class="flNav-section-tabnav clearfix">
                    <li class="active" data-target="#Tab"><a href="/chuzu?area=惠州"
                                                             target="_blank">惠州</a></li>
                </ul>
                <div class="flNav-section-tab-container">
                    <div class="flNav-section-tab-content mt-16 active" id="Tab">

                        <div class="flNav-section-tab-content-preview clearfix ">
                            <nav class="flNav-section-tab-links lf">
                                {% for zone in data.map.惠州[:4] %}
                                <a class="flNav-section-tab-link"
                                   href="/chuzu?area_id={{ zone }}" target="_blank">{{ zone }}</a>
                                {% endfor %}
                            </nav>
                            <button class="flNav-section-tab-btn is-open rt" type="button">展开</button>
                        </div>
                        <div class="flNav-section-tab-more">
                            <nav class="flNav-section-tab-links">
                                {% for zone in data.map.惠州 %}
                                <a class="flNav-section-tab-link"
                                   href="/chuzu?area_id={{ zone }}" target="_blank">{{ zone }}</a>
                                {% endfor %}
                            </nav>
                            <button class="flNav-section-tab-btn is-close rt" type="button">收起</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
    <!--右侧导航-->
    <div class="rtAd">
        <div class="hx"><a href="http://www.cfldcn.com/" target="_self" rel="nofollow"><img
                src="/static/img/hot_img.png"></a></div>
        <!--今日推荐-->
        <div class="todayNews">
            <h3><i class="icon_todayNews"></i>今日推荐</h3>
            <ul>
                {% for zone in data.data_sz[:5] %}
                <li><a target="_blank" href="/item?item_id={{ zone.item_id }}"
                       title="{{ zone.title }}">{{ zone.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!--表单-->

</div>
<div class="bigBanner minW1190">
    <ul class="bannerPic">
        <li><a href="" target="_self"><img src="/static/img/park1.png" alt=""></a></li>
        <li><a href="" target="_self"><img src="/static/img/park3.png" alt=""></a></li>
        <li><a href="" target="_self"><img src="/static/img/park4.png" alt=""></a></li>
    </ul>
    <div class="w1190 swiBtnBox" style="position: relative;top: 50%;margin-top: -30px;">
        <div class="leftBtn"></div>
        <div class="rightBtn"></div>
    </div>
    <div class="bigBannerList"></div>
</div>
<!--<div class="w1190 mt20"><a href="" target="_self"><img width="1190" height="72"-->
<!--                                                       src="http://eju7.fangcms.cn/uploads/allimg/20200518/1-20051QG951425.jpg"-->
<!--                                                       alt="横栏广告一"></a></div>-->
<div class="w1190 mt20 link slideTxtBox1" id="demoContent">
    <div class="top hd">
        <div class="FL">
            <a href="/chuzu?area=深圳" id="hov" class="cs1">深圳厂房链接</a>
            |<a href="/chuzu?area=东莞" class="cs2">东莞厂房链接</a>
            |<a href="/chuzu?area=惠州" class="cs3">惠州厂房链接</a>
            <!--            |<a href="javascript:;" class="cs2">友情链接</a>-->
        </div>

    </div>
    <div id="con" style="width:1190px;">
        <div>
            <p>
                {% for zone in data.map.深圳 %}
                <a
                   href="/chuzu?area_id={{ zone }}" target="_blank">{{ zone }}</a>
                {% endfor %}
            </p>
            <p>
                {% for zone in data.map.东莞 %}
                <a
                   href="/chuzu?area_id={{ zone }}" target="_blank">{{ zone }}</a>
                {% endfor %}
            </p>
            <p>
                {% for zone in data.map.惠州 %}
                <a
                   href="/chuzu?area_id={{ zone }}" target="_blank">{{ zone }}</a>
                {% endfor %}
            </p>

        </div>
    </div>
</div>
<div class="w1190 mt20">
    <div class="FL lcon  slideTxtBox1">
        <div class="tit  hd">
            <h3 class="FL"><a href="/chuzu">厂房出租</a></h3>
            <ul class="FR F12 cGray">
                <li class="FL ti">
                    <a id="hover" num="0" class="thov" href="/chuzu?area=深圳">深圳</a>
                    <a num="1" class="thov" href="/chuzu?area=东莞">东莞</a>
                    <a num="2" class="thov" href="/chuzu?area=惠州">惠州</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="bd">
            <div class="qyxz infoList" id="qyxz0">
                <div class="top">
                    {% for item in data.data_sz[:5] %}
                    <a target="_blank" title="{{ item.detail }}"
                       href="/item?item_id={{ item.item_id }}">
                        <div class="xzlcss-img-wrapper"><img
                                onerror="javascript:this.src='/template/default/pc/skin/images/no_pic.jpg'"
                                src="{{ item.img_url }}">
                            <div class="xzlcss-img-tag">{{ item.address }}</div>
                        </div>
                        <span>{{ item.detail[:10] }}...</span> </a>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
                <ul>
                    {% for item in data.data_sz[5:] %}
                    <li><a href="#" target="_blank">【{{ item.address }}】</a> <a
                            href="/item?item_id={{ item.item_id }}" target="_blank"
                            title="{{ item.title }}">{{ item.title[:20] }}...</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="qyxz infoList" id="qyxz1" style="display:none">
                <div class="top">
                    {% for item in data.data_dg[:5] %}
                    <a target="_blank" title="{{ item.detail }}"
                       href="/item?item_id={{ item.item_id }}&area=东莞">
                        <div class="xzlcss-img-wrapper"><img
                                onerror="javascript:this.src='/template/default/pc/skin/images/no_pic.jpg'"
                                src="{{ item.img_url }}">
                            <div class="xzlcss-img-tag">{{ item.address }}</div>
                        </div>
                        <span>{{ item.detail[:10] }}...</span> </a>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
                <ul>
                    {% for item in data.data_dg[5:] %}
                    <li><a href="#" target="_blank">【{{ item.address }}】</a> <a
                            href="/item?item_id={{ item.item_id }}&area=东莞" target="_blank"
                            title="{{ item.title }}">{{ item.title[:20] }}...</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="qyxz infoList" id="qyxz2" style="display:none">
                <div class="top">
                    {% for item in data.data_hz[:5] %}
                    <a target="_blank" title="{{ item.detail }}"
                       href="/item?item_id={{ item.item_id }}&area=惠州">
                        <div class="xzlcss-img-wrapper"><img
                                onerror="javascript:this.src='/template/default/pc/skin/images/no_pic.jpg'"
                                src="{{ item.img_url }}">
                            <div class="xzlcss-img-tag">{{ item.address }}</div>
                        </div>
                        <span>{{ item.detail[:10] }}...</span> </a>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
                <ul>
                    {% for item in data.data_hz[5:] %}
                    <li><a href="#" target="_blank">【{{ item.address }}】</a> <a
                            href="/item?item_id={{ item.item_id }}&area=惠州" target="_blank"
                            title="{{ item.title }}">{{ item.title[:20] }}...</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="FR rcon  topLoop1">
        <div class="tit">
            <h4><a style="float:left;">今日热房</a></h4><a style="float:left;"></a>
        </div>
        <a style="float:left;"></a>
        <div class="clear"></div>
        <ul class="zxli zxli_1">
            {% for zone in data.data_sz[:10] %}
            <li><a target="_blank" href="/item?item_id={{ zone.item_id }}"
                   title="{{ zone.title }}">{{ zone.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="clear"></div>
<!--<div class="w1190 mt20">-->
<!--    <a href="" target="_self">-->
<!--        <img width="1190" height="72"-->
<!--             src="http://eju7.fangcms.cn/uploads/allimg/20200518/1-20051QU133533.jpg">-->
<!--    </a>-->
<!--</div>-->
<div class="w1190 mt20 link slideTxtBox1" id="demoContent">
    <div class="top hd">
        <div class="FL"><a href="javascript:;" id="hov1" class="cs13">写字楼站内链接</a>
        </div>
    </div>
    <div id="con1" style="width:1190px;">
        <div>
            <p>
                {% for zone in data.map.深圳 %}
                <a
                   href="/xiezilou?area_id={{ zone }}" target="_blank">{{ zone }}</a>
                {% endfor %}
            </p>
        </div>
    </div>
</div>
<div class="w1190 mt20">
    <div class="FL lcon">
        <div class="tit hd">
            <h3 class="FL"><a target="_blank" href="/xiezilou">写字楼出租</a></h3>
            <ul class="FR F12 cGray">
                <li class="FL ti">
                    <a id="hover" num="0" class="thovxzl" href="/xiezilou">深圳</a>
                    <!--                    <a num="1" class="thovxzl" href="//hainan.fangcms.cn/">海南</a>-->
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="bd">
            <div class="xzlcss" id="xzlcss0" data-province="19">
                <div class="top">
                    {% for item in data.data_xiezi[:5] %}
                    <a target="_blank" title="{{ item.detail }}"
                       href="/xzl_item?item_id={{ item.item_id }}">
                        <div class="xzlcss-img-wrapper"><img
                                onerror="javascript:this.src='/template/default/pc/skin/images/no_pic.jpg'"
                                src="{{ item.img_url }}">
                            <div class="xzlcss-img-tag">{{ item.address }}</div>
                        </div>
                        <span>{{ item.detail[:10] }}...</span> </a>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
                <ul>
                    {% for item in data.data_xiezi[5:] %}
                    <li><a href="#" target="_blank">【{{ item.address }}】</a> <a
                            href="/xzl_item?item_id={{ item.item_id }}" target="_blank"
                            title="{{ item.detail }}">{{ item.detail[:20] }}...</a></li>
                    {% endfor %}

                </ul>
            </div>
            <div class="xzlcss" id="xzlcss1" data-province="21" style="display:none">
                <div class="top">
                    <div class="clear"></div>
                </div>
                <ul>

                </ul>
            </div>
        </div>
    </div>
    <div class="FR rcon topLoop">
        <div class="tit">
            <h4><a style="float:left;" target="_blank"
                   href="/xiezilou">写字楼出租位置</a></h4>
            <a target="_blank" href="/xiezilou">更多&gt;&gt;</a></div>
        <!--        <div class="zxlg bd">-->
        <!--            <ul>-->
        <!--                <li><a target="_blank" title="{{ data.data_xiezi[0].detail }}"-->
        <!--                       href="http://shenzhen7.fangcms.cn/officecs/xiezilouchushou/199.html">-->
        <!--                    <img onerror="javascript:this.src='/static/default/pc/skin/images/no_pic.jpg'"-->
        <!--                         src="{{ data.data_xiezi[0].img_url }}" alt="{{ data.data_xiezi[0].detail }}"-->
        <!--                         title="{{ data.data_xiezi[0].detail }}"><span style="font-size:14px;">{{ data.data_xiezi[0].detail }}</span></a></li>-->

        <!--            </ul>-->
        <!--        </div>-->
        <div class="clear"></div>
        <ul class="zxli zxli_1">
            {% for item in data.data_xiezi_title %}
            <li><a target="_blank" title="{{ item.title }}"
                   href="/xiezilou?keyword={{ item.title }}">{{ item.title }}</a></li>
            {% endfor %}

        </ul>
    </div>
</div>
<div class="clear"></div>
<div class="w1190 mt20">
    <div class="FL lcon">
        <div class="tit">
            <h3 class="FL"><a target="_blank" href="">资讯</a></h3>
            <ul class="FR F12 cGray">
                <li class="ti">
                    <a target="_blank" href="">厂房指南</a>
                    <a target="_blank" href="">办公指南</a>
                    <a target="_blank" href="">仓库指南</a>
                    <a target="_blank" href="">产经新闻</a>
                    <a target="_blank" href="">写字楼百科</a>
                    <a target="_blank" href="">新盘亮相</a>
                    <a target="_blank" href="">产业地产100讲</a>
                    <a target="_blank" href="">企业选址信息</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="ne">
            <a target="_blank" title="雅居乐金沙湾主推四期6#产品 智能家电呵护安全"
               href=""><img title="雅居乐金沙湾主推四期6#产品 智能家电呵护安全"
                            src="http://eju7.fangcms.cn/uploads/allimg/20191011/1-191011162243214.jpg"><strong>雅居乐金沙湾主推四期6#产品
                智能家电呵护安全</strong><span>雅居乐金沙湾主推四期6#产品 智能家电呵...</span></a>
            <a target="_blank" title="融创观澜湖公园壹号PK观澜湖九里 果岭养生楼盘大解析"
               href=""><img title="融创观澜湖公园壹号PK观澜湖九里 果岭养生楼盘大解析"
                            src="http://eju7.fangcms.cn/uploads/allimg/20191011/1-19101116051Tb.jpg"><strong>融创观澜湖公园壹号PK观澜湖九里
                果岭养生楼盘大解析</strong><span>融创观澜湖公园壹号PK观澜湖九里 果岭养...</span></a>

            <div class="clear"></div>
            <ul>
                <li><a target="_blank" href=""
                       title="深圳大鹏新区：三年释放土地面积141万平方米">深圳大鹏新区：三年释放土地面积141万平...</a></li>
                <li><a target="_blank" href=""
                       title="“团购”工业用地 “共享”配套设施">“团购”工业用地 “共享”配套设施</a></li>
                <li><a target="_blank" href=""
                       title="深圳大鹏新区：三年释放土地面积141万平方米">深圳大鹏新区：三年释放土地面积141万平...</a></li>
                <li><a target="_blank" href=""
                       title="三四线城市地产正回暖：政策趋向友好 土地市场预热">三四线城市地产正回暖：政策趋向友好 土地...</a></li>
                <li><a target="_blank" href=""
                       title="多城调整土拍规则 土地溢价率年内首次回调">多城调整土拍规则 土地溢价率年内首次回调</a></li>
                <li><a target="_blank" href=""
                       title="集体土地入市：一场言之过早的产业狂欢">集体土地入市：一场言之过早的产业狂欢</a></li>
                <li><a target="_blank" href=""
                       title="雅居乐金沙湾城市园林营造舒心娱乐生活">雅居乐金沙湾城市园林营造舒心娱乐生活</a></li>
                <li><a target="_blank" href=""
                       title="雅居乐金沙湾坐享四周便利 路网通达">雅居乐金沙湾坐享四周便利 路网通达</a></li>
                <li><a target="_blank" href=""
                       title="海南海囗雅居乐金沙湾小区内配套已落实 售海景洋房">海南海囗雅居乐金沙湾小区内配套已落实 售...</a></li>
                <li><a target="_blank" href=""
                       title="融创观澜湖公园壹号精装交付 引入品牌进行布置">融创观澜湖公园壹号精装交付 引入品牌进行...</a></li>
                <li><a target="_blank" href=""
                       title="融创观澜湖公园壹号纯板式果岭美宅热销中 均价13300元/㎡">融创观澜湖公园壹号纯板式果岭美宅热销中 ...</a></li>
                <li><a target="_blank" href=""
                       title="融创美伦熙语为何如此火爆？">融创美伦熙语为何如此火爆？</a></li>
                <li><a target="_blank" href=""
                       title="富力悦海湾别墅样板间实景图赏">富力悦海湾别墅样板间实景图赏</a></li>

            </ul>
        </div>
    </div>
    <div class="FR rcon">
        <div class="tit">
            <h4><a style="float:left;" target="_blank" href="">资讯排行榜</a></h4>
            <a target="_blank" href="">更多&gt;&gt;</a></div>
        <ul class="rnew">
            <li>
                <ins class="">1</ins>
                <a target="_blank" href=""
                   title="三四线城市地产正回暖：政策趋向友好 土地市场预热">三四线城市地产正回暖：政策趋向友好 土地...</a></li>
            <li>
                <ins class="">2</ins>
                <a target="_blank" href=""
                   title="深圳大鹏新区：三年释放土地面积141万平方米">深圳大鹏新区：三年释放土地面积141万平...</a></li>
            <li>
                <ins class="">3</ins>
                <a target="_blank" href=""
                   title="深圳大鹏新区：三年释放土地面积141万平方米">深圳大鹏新区：三年释放土地面积141万平...</a></li>
            <li>
                <ins class="">4</ins>
                <a target="_blank" href="" title="购房指南：实地看房时需要注意哪些问题">购房指南：实地看房时需要注意哪些问题</a>
            </li>
            <li>
                <ins class="">5</ins>
                <a target="_blank" href=""
                   title="雅居乐金沙湾主推四期6#产品 智能家电呵护安全">雅居乐金沙湾主推四期6#产品 智能家电呵...</a></li>
            <li>
                <ins class="">6</ins>
                <a target="_blank" href=""
                   title="房子继承问题差别早知道！">房子继承问题差别早知道！</a></li>
            <li>
                <ins class="">7</ins>
                <a target="_blank" href=""
                   title="融创观澜湖公园壹号纯板式果岭美宅热销中 均价13300元/㎡">融创观澜湖公园壹号纯板式果岭美宅热销中 ...</a></li>
            <li>
                <ins class="">9</ins>
                <a target="_blank" href=""
                   title="绿地集团战略重组贵州药材 大健康产业混改首单亮相">绿地集团战略重组贵州药材 大健康产业混改...</a></li>
            <li>
                <ins class="">10</ins>
                <a target="_blank" href=""
                   title="选房看什么？从区位到配套为您详细解读">选房看什么？从区位到配套为您详细解读</a></li>

        </ul>
    </div>
</div>
<div class="clear"></div>
<div class="w1190 mt20 link slideTxtBox1" id="demoContent">
    <div class="top hd">
        <div class="FL"><a href="javascript:;" id="hov" class="cs1">站内链接</a>|<a href="javascript:;" class="cs2">友情链接</a>
        </div>
        <div class="FL" style="margin-top: 10px; "><a target="_blank"
                                                      href="https://wpa.qq.com/msgrd?v=3&amp;uin=1234567890&amp;site=qq&amp;menu=yes"><img
                title="点击这里给我发消息" style="VERTICAL-ALIGN: top" alt="点击这里给我发消息" src="static/img/button_11.gif" border="0"></a>
        </div>
    </div>
    <div id="con" style="width:1190px;">
        <div>
            <p>
                <a href="/chuzu?area=惠州">惠州厂房</a>
                <a href="/chuzu?area=深圳">深圳厂房</a>
                <a href="/chuzu?area=东莞">东莞厂房</a>
            </p>

            <p>

                <a href="http://www.baidu.com" target="_blank">百度</a>

            </p>

        </div>
    </div>
</div>
<div class="foot w1190">

    <a target="_blank" href="">关于我们</a>

    <a target="_blank" href="">联系我们</a>

    <a target="_blank" href="">用户协议</a>

    <a target="_blank" href="">免责声明</a>


    <br>
    Copyright © 2020-2028 房产租售网 版权所有<a href="https://beian.miit.gov.cn/" rel="nofollow"
                                       target="_blank">粤ICP备xxxxxxxx号</a><br>

</div>
<script src="static/js/jquery-1.10.1.min.js"></script>
<script src="static/js/ibase.js"></script>
<script src="static/js/pro.js"></script>
<script>
    $(document).ready(function () {
        $('.item').mouseover(function () {
            $('.lava').stop().animate({left: $(this).position()['left']}, {duration: 200});
            $('.panel').stop().animate({left: $(this).position()['left'] * (-2)}, {duration: 200});
        });
        <!--style城市展示切换-->
        $("[data-toggle='hSwitch']").click(function (e) {
            $(".flNav ul li p.open").hide();
            // $(this).parent('p').siblings('.open').slideToggle();
            $(this).parent('p').siblings('.open').fadeToggle();
            e.preventDefault();
        })
    });
</script>
<script>
    $(document).ready(function () {
        $('.item').mouseover(function () {
            $('.lava').stop().animate({left: $(this).position()['left']}, {duration: 200});
            $('.panel').stop().animate({left: $(this).position()['left'] * (-2)}, {duration: 200});
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".cs1").mouseover(function () {
            $(".cs1").attr('id', 'hov');
            $(".cs2").attr('id', '');
            $(".cs3").attr('id', '');
            $('#con div').stop().animate({marginLeft: "0px"}, {duration: 0});
        });
        $(".cs2").mouseover(function () {
            $(".cs2").attr('id', 'hov');
            $(".cs1").attr('id', '');
            $(".cs3").attr('id', '');
            $('#con div').stop().animate({marginLeft: "-1190px"}, {duration: 0});
        });
        $(".cs3").mouseover(function () {
            $(".cs3").attr('id', 'hov');
            $(".cs1").attr('id', '');
            $(".cs2").attr('id', '');
            $('#con div').stop().animate({marginLeft: "-2380px"}, {duration: 0});
        });
        $(".thov").mouseover(function () {
            $(".thov").attr('id', '');
            $(this).attr('id', 'hover');
            $(".qyxz").css("display", "none");
            $("#qyxz" + $(this).attr("num")).css("display", "block");
        });
        $(".thovxzl").mouseover(function () {
            $(".thovxzl").attr('id', '');
            $(this).attr('id', 'hover');
            $(".xzlcss").css("display", "none");
            $("#xzlcss" + $(this).attr("num")).css("display", "block");
        });

    })
</script>
<script>
    $("#mouse a").mouseover(function () {
        $(this).attr('id', 'hover').siblings().attr('id', '');
        $(".lacss").eq($(this).index()).css("display", "block").siblings(".lacss").css("display", "none");
    });
</script>
<script type="text/javascript">
    function AutoScroll(obj) {
        $(obj).find("ul:first").animate({
            marginTop: "-" + $('#con2_qhd_3 li').height()
        }, 1000, function () {
            $(this).css({marginTop: $('#con2_qhd_3 li').css("margin-top")}).find("li:lt(3)").appendTo(this);
        });
    }

    $(document).ready(function () {
        $('#con2_qhd_3').css("overflow", "hidden");
    });
</script><!--!‬‏‪‫‭‪‭‫‬‭‪‫‭‬‪‭‫‪‭‫‏-->
<script type="text/javascript">
    var zxtkcs = 1;

    function Autotk(obj) {
        var marginxp = 170 * zxtkcs;
        $('#zxnum a').attr('id', '');
        $('#zxnum a:eq(' + zxtkcs + ')').attr('id', 'squ');
        zxtkcs++;
        $(obj).find("ul:first").animate({
            marginTop: "-" + marginxp
        }, 300, function () {
            if (zxtkcs == 3) {
                zxtkcs = 0;
            }
        });
    }

    $(document).ready(function () {
        $('#zxtk').css("overflow", "hidden");
        var myar = setInterval('Autotk("#zxtk")', 3000);
        $("#zxtk").hover(function () {
            clearInterval(myar);
        }, function () {
            myar = setInterval('Autotk("#zxtk")', 3000)
        });
        $('#zxnum a').mouseover(function () {
            clearInterval(myar);
            zxtkcs = $("#zxnum a").index(this);
            Autotk("#zxtk");
        });
        $('#zxnum a').mouseout(function () {
            myar = setInterval('Autotk("#zxtk")', 3000);
        });
    });
</script>
<script type="text/javascript">
    var run = 0;
    var rtime;

    function time() {
        ChangeCity(0);
        clearTimeout(rtime);
    }

    function ChangeCity(show) {
        $("#popwindow").css("position", "absolute");
        $("#popwindow").css("top", 40);
        if ($.browser.msie)
            $("#popwindow").css("left", 20);
        else
            $("#popwindow").css("left", 20);
        if (show == 1) {
            $("#popwindow").slideDown("normal", function () {
                run = 0
            });
        } else {
            $("#popwindow").slideUp("normal", function () {
                run = 0
            });
        }
    }
</script>


<script>
    indexBanner();  //轮播图
</script>

</body>
</html>