<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{data.title}}_厂房出租_房产租售网</title>
    <meta name="description"
          content="{{ data.detail }}"/>
    <meta name="keywords" content=""/>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/szlist_1.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/reset_1.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/szheader.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/szlist.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/cfzs.js"></script>
    <script type="text/javascript" src="/static/js/allszheader.js"></script>
    <script type="text/javascript" src="/static/js/allszdetail.js"></script>
    <link rel="stylesheet" href="/static/css/newcfpic.css">
    <link type="text/css" href="/static/css/prettyphoto.css" rel="stylesheet"/>
    <div style="display: none;"><i id="eyou_arcclick" class="eyou_arcclick" style="font-style:normal">120</i>
        <script type="text/javascript">
            function tag_arcclick() {
                //步骤一:创建异步对象
                var ajax = new XMLHttpRequest();
                //步骤二:设置请求的url参数,参数一是请求的类型,参数二是请求的url,可以带参数,动态的传递参数starName到服务端
                ajax.open("get", "/index.php?m=api&c=Ajax&a=arcclick&aid=165", true);
                // 给头部添加ajax信息
                ajax.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                //步骤三:发送请求
                ajax.send();
                //步骤四:注册事件 onreadystatechange 状态改变就会调用
                ajax.onreadystatechange = function () {
                    //步骤五 如果能够进到这个判断 说明 数据 完美的回来了,并且请求的页面是存在的
                    if (ajax.readyState == 4 && ajax.status == 200) {
                        document.getElementById("eyou_arcclick").innerHTML = ajax.responseText;
                    }
                }
            }

            tag_arcclick();
        </script>
    </div>
</head>
<body>

<link rel="stylesheet" type="text/css" href="/static/css/header_index.css?t=1611907628"/>
<div class="DivH36">
    <div class="W1000">
        <div class="FL F12 c303">厂房出租 • 产业园区招商 • 企业选址平台</div>
        <div class="zs_dbright FR">
            <ul>
                <li onmouseover="xiala('erwei',true)" onmouseout="xiala('erwei',false)"><a href="#"
                                                                                           target="_blank">微信</a>
                    <div class="erweima" id="erwei" style="display: none;"><img
                            src="/uploads/allimg/20191011/1-1910111A214110.jpg"></div>
                </li>
                <li class="zs_club" onmouseover="xiala1()" onmouseout="xiala2()"><a id="ywhz"
                                                                                    href=""
                                                                                    target="_blank">业务合作</a>
                    <div class="jtxl" id="jtxl" style="display: none;"><a
                            href="" target="_blank">公司简介</a> <a
                            href="" target="_blank">联系我们</a> <a
                            href="" target="_blank">用户协议</a> <a
                            href="" target="_blank">免责声明</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="W1000 head marginT20">
    <div class="FL marginT17"><a href=""><img src="/static/img/logo.jpg"
                                                                    alt="房产租售网"></a></div>
    <div class="FL LH24 marginL20" style="margin-top:37px;">
        <div class="m_city fl" style="position:relative;">
            <div id="change_city"><font color="blue" style="font-size:18px;"><strong class="F19 cred">深圳</strong></font>
                <a class="F12 cGray" href="javascript:void(0);" onMouseOver="javascript:ChangeCity(1);">[切换城市]</a></div>
            <div class="qhcity_box" id="popwindow" style="display:none;z-index: 20;">
                <div class="qhcity_close" onclick="javascript:ChangeCity();"><img src="/static/img/close.gif" alt="关闭"
                                                                                  title="关闭"/></div>
                <div class="qhcity_hot" style="line-height:20px; padding-top:5px; padding-bottom:5px;">
                    <span>当前城市：</span> <a href="">深圳</a></div>
                <div class="qhcity_area" style="line-height:20px; padding-top:5px; padding-bottom:5px;"> 广东：
                    <a href="/chuzu?area=东莞" title="东莞">东莞</a>
                    <a href="/chuzu?area=深圳" title="深圳">深圳</a>
                    <a href="/chuzu?area=惠州" title="惠州">惠州</a>
                </div>
            </div>
        </div>
    </div>
    <div class="FR" style="width:504px;">
        <div class="t-r F12">
            <div class="FR"><span class="cGray">全国客服热线：</span>
                <p class="FR phone">400-1234567</p>
            </div>
        </div>
        <div class="clear"></div>
        <script type="text/javascript" src="/static/js/jquery.js?t=1611905168"></script>
        <script type="text/javascript" src="/static/js/index_allszheader.js?t=1611905168"></script>
        <script type="text/javascript">
            function SelText(obj) {
                var mode = $(obj).attr('data-mode');
                $(".mode_div").hide();
                $("#" + mode).show();
            }

            function submitForm(obj) {
                var mode = $(obj).data('mode');
                $("#form_" + mode).submit();
            }

        </script>
        <div class="mr_search FR marginT5">
            <div class="mode_div" id="cangfcz">
                <form method="get" action="/keywords" id="form_cangfcz" class="zform">
                    <div class="select fl" onMouseOver="xiala('s_xlmenu_cangfcz',true)"
                         onMouseOut="xiala('s_xlmenu_cangfcz',false)">
                        <div class="s_xiala">
                            <input id="ct_input" type="button" class="selectbox" value="厂房出租"/>
                        </div>
                        <div class="s_xialamenu" id="s_xlmenu_cangfcz">
                            <ul>
                                <li><a href="javascript:;" onClick="SelText(this);" data-mode="cangfcz">厂房出租</a></li>
                                <li><a href="javascript:;" onClick="SelText(this);" data-mode="officecz">写字楼出租</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text fl">
                        <input name="keyword" type="text" placeholder="{{ other.keyword }}"/>
                    </div>
                    <div class="searbut fr" style="height:32px; overflow:hidden;">
                        <input type="submit" data-mode="cangfcz" class="searanniu" value="搜索"/>
                    </div>
                    <input type="hidden" name="page_type" value="changfang">
                </form>

            </div>
            <div style="display: none" class="mode_div" id="officecz">
                <form method="get" action="/keywords" id="form_officecz" class="zform">
                    <div class="select fl" onMouseOver="xiala('s_xlmenu_officecz',true)"
                         onMouseOut="xiala('s_xlmenu_officecz',false)">
                        <div class="s_xiala">
                            <input type="button" class="selectbox" value="写字楼出租"/>
                        </div>
                        <div class="s_xialamenu" id="s_xlmenu_officecz">
                            <ul>
                                <li><a href="javascript:;" onClick="SelText(this);" data-mode="cangfcz">厂房出租</a></li>
                                <li><a href="javascript:;" onClick="SelText(this);" data-mode="officecz">写字楼出租</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text fl">
                        <input name="keyword" type="text" placeholder="{{ other.keyword }}"/>
                    </div>
                    <div class="searbut fr" style="height:32px; overflow:hidden;">
                        <input type="submit" data-mode="officecz" class="searanniu" value="搜索"/>
                    </div>
                    <input type="hidden" name="page_type" value="xiezilou">
                </form>

            </div>
        </div>

    </div>
    <div class="clear"></div>
</div>
<div class="marginT20" style="background:royalblue;">
    <div class="W1000 nav" style="position: relative;">
        <ul>
            <li><a id="" href="/index" target="_self">首页</a></li>
            <li><a id="" href="/chuzu" target="_self">厂房出租</a></li>
            <li><a id="" href="/xiezilou" target="_self">写字楼出租</a></li>
            <li><a id="" href="" target="_self">资讯</a></li>
            <li><a id="" href="" target="_self">业务合作</a></li>
            <li><a id="" href="" target="_self">求租求购</a></li>
        </ul>
        <div style="position:absolute; right:-19px;"><a href=""
                                                        target="_blank"><img width="114" height="40"
                                                                             src="/static/img/wx800.gif"></a></div>
    </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
    function xiaoshi(obj) {
        obj.value = "";
    }

    function xianshi(obj, message) {
        if (obj.value == null || obj.value == "")
            obj.value = message;
    }

    /*
    导航条.显示函数
    */
    function block_show(id, isHome) {
        var list = document.getElementsByClassName("n_ejmenu FR");
        for (var i = 0, j = list.length; i < j; i++) {
            list[i].style.display = "none";
        }
        if (!isHome) {
            document.getElementById(id).style.display = "block";
            document.getElementById("line").style.display = "none";
        } else {
            document.getElementById("line").style.display = "block";
        }
    }

</script>

<input type="hidden" value="1683">
<div class="zs_newmbx"><a href='/' class=' '>首页</a> &gt; <a
        href='/xiezilou' class=' '>写字楼</a> &gt; <a
        href='/xiezilou'>写字楼出租</a></div>
<div class="W1000">
    <div class="tab_cf mt13" style="margin-top:0px">
        <div class="tab_l fl">
            <h3>我要租厂房</h3>
            <p>免中介费&nbsp;总机：<em>400-1234567</em></p>
        </div>
        <div class="tab_r fr">
            <form method="post" id="form_fc1f9a59da470e6768c0eb918bed20bc5"
                  action="http://shenzhen7.fangcms.cn/?m=api&c=Ajax&a=form_submit"
                  onsubmit="return f983e1be1a9a2baba1fefd016f4759531();">
                <input id="attr_36" name="attr_36" type="text" class="t_i1" placeholder="请输入您的称呼">
                <input id="attr_31" name="attr_31" type="text" class="t_i2" placeholder="请输入电话号码">
                <input id="submit" type="submit" class="tab_but" value="">
                <input type="hidden" name="ajax_form" value=""/>
                <input type="hidden" name="come_from" value="{{ data.title }}"/>
                <input type="hidden" name="parent_come_url" value=""/>
                <input type="hidden" name="aid" value="165"/>
                <input type="hidden" name="come_url"
                       value="http://shenzhen7.fangcms.cn/officecz/xiezilouchuzu/165.html"/>
                <input type="hidden" name="form_id" value="8"/>
                <input type="hidden" name="is_default" value="31"/>
                <input type="hidden" name="__token__983e1be1a9a2baba1fefd016f4759531"
                       id="983e1be1a9a2baba1fefd016f4759531" value=""/>
                <!--<script type="text/javascript" src="/public/static/common/js/jquery.min.js?v=v3.9.0"></script>-->
                <script type="text/javascript" src="/public/plugins/layer-v3.1.0/layer.js?v=v3.9.0"></script>
                <script type="text/javascript">
                    function f983e1be1a9a2baba1fefd016f4759531() {

                        var x = document.getElementById('form_fc1f9a59da470e6768c0eb918bed20bc5');
                        for (var i = 0; i < x.length; i++) {

                            if (x[i].name == 'attr_31' && x[i].value.length == 0) {
                                layer.msg('电话号码不能为空！');
                                return false;
                            }

                            if (x[i].name == 'attr_36' && x[i].value.length == 0) {
                                layer.msg('您的称呼不能为空！');
                                return false;
                            }
                        }

                        var elements = document.getElementById("form_fc1f9a59da470e6768c0eb918bed20bc5");
                        var formData = new FormData();
                        for (var i = 0; i < elements.length; i++) {
                            formData.append(elements[i].name, elements[i].value);
                        }
                        var ajax = new XMLHttpRequest();
                        ajax.open("post", "/index.php?m=api&c=Ajax&a=form_submit&_ajax=1");
                        ajax.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                        ajax.send(formData);

                        ajax.onreadystatechange = function () {
                            if (ajax.readyState == 4 && ajax.status == 200) {
                                var json = ajax.responseText;
                                var res = JSON.parse(json);
                                if (1 == res.code) {
                                    reset_form(elements);
                                    fc1f9a59da470e6768c0eb918bed20bc5();
                                    fc1f9a59da470e6768c0eb918bed20bc5_notice(res.data.form_id, res.data.list_id);
                                    layer.msg(res.msg);


                                } else {
                                    layer.msg(res.msg);
                                    fc1f9a59da470e6768c0eb918bed20bc5();
                                }
                            }
                        }

                        return false;
                    }

                    function fc1f9a59da470e6768c0eb918bed20bc5() {
                        //步骤一:创建异步对象
                        var ajax = new XMLHttpRequest();
                        //步骤二:设置请求的url参数,参数一是请求的类型,参数二是请求的url,可以带参数,动态的传递参数starName到服务端
                        ajax.open("get", "/index.php?m=api&c=Ajax&a=get_token&name=__token__983e1be1a9a2baba1fefd016f4759531", true);

                        // 给头部添加ajax信息
                        ajax.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                        //步骤三:发送请求+数据
                        ajax.send();
                        //步骤四:注册事件 onreadystatechange 状态改变就会调用
                        ajax.onreadystatechange = function () {
                            //步骤五 如果能够进到这个判断 说明 数据 完美的回来了,并且请求的页面是存在的
                            if (ajax.readyState == 4 && ajax.status == 200) {
                                document.getElementById("983e1be1a9a2baba1fefd016f4759531").value = ajax.responseText;
                            }
                        }
                    }

                    function fc1f9a59da470e6768c0eb918bed20bc5_notice(form_id, list_id) {
                        //步骤一:创建异步对象
                        var ajax = new XMLHttpRequest();
                        //步骤二:设置请求的url参数,参数一是请求的类型,参数二是请求的url,可以带参数,动态的传递参数starName到服务端
                        ajax.open("post", "/index.php?m=api&c=Ajax&a=send_email", true);
                        // 给头部添加ajax信息
                        ajax.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                        // 如果需要像 HTML 表单那样 POST 数据，请使用 setRequestHeader() 来添加 HTTP 头。然后在 send() 方法中规定您希望发送的数据：
                        ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        //步骤三:发送请求+数据
                        ajax.send("type=form_submit&form_id=" + form_id + "&list_id=" + list_id);
                        //步骤四:注册事件 onreadystatechange 状态改变就会调用
                        ajax.onreadystatechange = function () {
                        }
                    }

                    //重置form表单
                    function reset_form(Clear_From) {
                        for (var a = 0; a < Clear_From.elements.length; a++) {
                            if (Clear_From.elements[a].type == "text") {				//类型为text的
                                Clear_From.elements[a].value = "";
                            } else if (Clear_From.elements[a].type == "password") {	//类型为password的
                                Clear_From.elements[a].value = "";
                            } else if (Clear_From.elements[a].type == "radio") {		//类型为radio的
                                Clear_From.elements[a].checked = false;
                            } else if (Clear_From.elements[a].type == "checkbox") {	//类型为
                                Clear_From.elements[a].checked = false;
                            } else if (Clear_From.elements[a].type == "select-one") {	//单选下拉菜单
                                Clear_From.elements[a].options[0].selected = true;	//选中第一个options
                            } else if (Clear_From.elements[a].type == "select-multiple") { //多选下拉菜单
                                for (var b = 0; b < Clear_From.elements[a].options.length; b++) { //将所有options设为false
                                    Clear_From.elements[a].options[b].selected = false;
                                }
                            } else if (Clear_From.elements[a].type == "textarea") {
                                Clear_From.elements[a].value = "";
                            }
                        }
                    }

                    fc1f9a59da470e6768c0eb918bed20bc5();
                </script>
            </form>

        </div>
        <div class="cl"></div>
    </div>
</div>
<div class="W1000" style="margin-top: 13px;">
    <div class="fl">
        <div class="xq_mess bor1" style="width:714px;">
            <div class="m_tit">
                <h1><a href="#" target="_blank" class="mt_diqu f_wryh">[{{ data.address }}]</a>{{ data.title }}</h1>
                <div class="mt_xxmes">

                    <span class="xxbh pl7">信息编号：</span><span class="xxbh pr14">{{ data.item_id }}</span><span
                        class="fbsj">{{ data.created_time }}</span>
                    <div class="cl"></div>
                </div>
            </div>
            <div class="m_datail mt13">
                <div class="fl">
                    <div id="p_cfzs">
                        <div class="p_datu"><img src="{{ data.images[0] }}"
                                                 onerror="this.src='/static/img/pc_list_placeholder.jpg'"
                                                 alt="{{ data.title }}" title="{{ data.title }}"/></div>
                        <div class="p_xiaotu">
                            <div class="leftbut"></div>
                            <div class="p_tu">
                                <ul>
                                    {% for img in data.images %}
                                    <li><img src="{{ img }}" name=""
                                             onerror="this.src='/static/img/pc_list_placeholder.jpg'"
                                             alt="{{ data.title }}" title="{{ data.title }}"/></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="rightbut"></div>
                        </div>
                    </div>

                </div>
                <div class="fr">
                    <div class="md_txt">
                        <ul>
                            <li><a>所在区域：</a><span>广东-{{ data.address }}</span></li>
                            <li>
                                <div class="w195">
                                    <a>月租金：</a>
                                    <span class="rede94">{{ data.price_month }}</span>
                                    <span>元/月</span>
                                </div>
                                <!--                                <a>日租金：</a>-->
                                <!--                                <span class="rede94">26.67</span>-->
                                <!--                                <span>元/m²·月</span>-->
                            </li>
                            <li>
                                <div class="w195">
                                    <a>面积：</a><span class="rede94">{{ data.area }}</span><span>㎡</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a>装修：</a><span><span class="rede94">{{ data.zhuangxiu }}</span><span></span></span>
                                </div>
                            </li>

                            <li>
                                <div class="w195"><a>楼盘：</a><span  class="rede94">{{ data.loupan }}</span></div>
                                <a>免租期：</a><span>{{ data.mianzu }}</span>
                            </li>
                            <li>
                                <div class="w195"><a>注册：</a><span>{{ data.zhuce }}</span></div>
                            </li>

                            <li>
                                <div class="w195"><a>分割：</a><span>{{ data.fenge }}</span></div>
                            </li>
                            <li>
                                <div class="w195"><a>商务区：</a><span>{{ data.shangwuqu }}</span></div>
                                <a>车位：</a><span>{{ data.chewei }}</span>
                            </li>
                            <li><a>更新时间：</a><span>{{ data.created_time }}</span></li>
                            <li><a>地址：</a><span>{{ data.address }}</span></li>

                        </ul>
                        <div class="xq_cphone">
                            <p style="height:33px"><span style="font-size:14px;">电话：</span><span
                                    class="f22">13944445555</span></p>
                            <p style="color:#7f7e7e;">免中介费，专人带看，专业服务！</p>
                        </div>
                    </div>
                </div>
                <div class="cl"></div>
            </div>
        </div>
        <div class="w746 mt13 bor1">
            <div>
                <div class="xq_mtit f_wryh fl">写字楼概况</div>
                <div class="bor2"></div>
                <div class="cl"></div>
            </div>
            <div class="k_padd">
                <div class="xq_cfgk">
                    <p>{{ data.detail }}</p>
                    <p><br/></p>
                    <p><br/></p></div>
            </div>
        </div>
        <div class="w746 mt13 bor1">
            <div>
                <div class="xq_mtit f_wryh fl">房源描述</div>
                <div class="bor2"></div>
                <div class="cl"></div>
            </div>
            <div class="k_padd">
                <div class="xq_cfgk">
                    <p>{{ data.other_info }}</p>
                    <p><br/></p>
                    <p><br/></p></div>
            </div>
        </div>

        <div class="w746 mt13 bor1">
            <div>
                <div class="xq_mtit f_wryh fl">图片</div>
                <div class="bor2"></div>
                <div class="cl"></div>
            </div>
            <div class="detail-row margin-top20">
                <ul class="occsphoto-lists clearfix" id="photo">
                    {% for img in data.images %}
                    <li>
                        <a href="{{ img }}" title="" rel="prettyPhoto[]">
                            <img src="{{ img }}" data-original="{{ img }}" class="lazy"/>
                            <p></p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="w746 mt13 bor1">
            <div>
                <div class="xq_mtit f_wryh fl">周边生活</div>
                <div class="bor2"></div>
                <div class="cl"></div>
            </div>
            <div class="detail-content clearfix">
                <div class="detail-row" id="same-estate">
                    <div class="map-box">
                        <div id="map"></div>
                        <div class="map-mart">
                            <div class="map-mart-title" id="map-keyword">
                                <a href="javascript:;" class="heihei" onclick="select_around(0);">商业</a>
                                <a href="javascript:;" class="heihei" onclick="select_around(1);">交通</a>
                                <a href="javascript:;" class="heihei" onclick="select_around(2);">教育</a>
                                <a href="javascript:;" class="heihei" onclick="select_around(3);">医疗</a>
                            </div>
                            <ul class="map-mart-lists" id="result">
                            </ul>
                        </div>
                        <script type="text/javascript"
                                src="//api.map.baidu.com/api?v=2.0&ak=ETLXgCxIoVixggHcAk6mKpMd&s=1"></script>
                        <script type="text/javascript" src="/static/js/baidu_surroundings.js?v=v3.9.0"></script>
                        <!--<link rel="stylesheet" type="text/css" href="/public/static/common/css/bmap_20.css?v=v3.9.0" />-->
                        <link rel="stylesheet" type="text/css" href="/static/css/tag_surroundings.css?v=v3.9.0"/>
                        <script type="text/javascript">
                            var lng = "113.895419";
                            var lat = "22.672273";
                            var bid = '1';
                            var bname = "{{ data.title }}";
                            var address = "{{ data.address }}";
                            var price = "26.67元/㎡";
                            var bprice = bname + "  " + price;
                            if (!isNaN(price)) {
                                bprice = bname + "  " + (price > 0 ? (price + "元/㎡") : "售价待定");
                            }
                            // 百度地图API功能****begin
                            var mp = new BMap.Map("map", {minZoom: 6, maxZoom: 14});								//50米-5公里缩放
                            //mp.addControl(new BMap.OverviewMapControl()); 											//添加默认缩略地图控件
                            //mp.addControl(new BMap.OverviewMapControl({isOpen:true, anchor: BMAP_ANCHOR_BOTTOM_RIGHT})); //右下角，打开
                            mp.addControl(new BMap.ScaleControl()); 													// 添加默认比例尺控件
                            mp.addControl(new BMap.ScaleControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT})); 					// 左下
                            mp.addControl(new BMap.NavigationControl()); 												//添加默认缩放平移控件
                            //mp.addControl(new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_SMALL})); //左上角，仅包含平移和缩放按钮
                            var pointA = new BMap.Point(lng, lat);
                            mp.centerAndZoom(pointA, 15);
                            //mp.enableScrollWheelZoom();//启用滚轮放大缩小，默认禁用
                            mp.enableKeyboard();
                            mp.enableContinuousZoom(); 							// 开启连续缩放效果
                            mp.enableInertialDragging();　						// 开启惯性拖拽效果
                            //开始搜索
                            var local = new BMap.LocalSearch(mp, {pageCapacity: 10});

                            //多个关键字搜索返回结果 ****begin
                            local.setSearchCompleteCallback(function (results) {
                                //判断状态是否正确
                                if (local.getStatus() == BMAP_STATUS_SUCCESS) {
                                    //openInfoWinFuns = [];
                                    var map_total = 0;
                                    var pm = [];
                                    for (var index = 0; index < results.length; index++) {
                                        pm[index] = [];
                                        var zbcount = 0;
                                        for (var i = 0; i < results[index].getCurrentNumPois(); i++) {
                                            //初始化,拼装对象
                                            var _title = results[index].getPoi(i).title;
                                            var _keyword = results[index].keyword;
                                            var _address = results[index].getPoi(i).address;
                                            var _point = results[index].getPoi(i).point;
                                            var _poi = results[index].getPoi(i);
                                            var dist = mp.getDistance(pointA, results[index].getPoi(i).point).toFixed(0);//距离计算
                                            if (dist <= 2000) {
                                                var myPointMarker = new pointMarker(_title, _keyword, _address, dist, _point, _poi);
                                                pm[index][zbcount] = myPointMarker;
                                                zbcount++;
                                                map_total++;
                                            }
                                        }
                                    }
                                    $("#total").html(map_total);//总记录数
                                    //排序
                                    sortOrder(pm, "result", "lp-map-tab");
                                    //document.getElementById("map_result").innerHTML = s.join("");
                                } else {
                                    document.getElementById("result").innerHTML = '没有查到, 您可以尝试把地图放大之后再查找';
                                }
                            });
                            //多个关键字搜索返回结果 ****end
                            //默认选择第一项
                            function select_around(i) {
                                aaa = $(".heihei").eq(i);
                                for (var n = 0; n < 4; n++) {
                                    $(".heihei").removeClass('active-' + (n + 1));
                                    $(".heihei").removeClass('active');
                                }
                                aaa.addClass('active-' + (i + 1));
                                aaa.addClass('active');
                                search(i, local);
                            }

                            select_around(0);


                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="w746 mt13 bor1">
            <div>
                <div class="xq_mtit mtit2 f_wryh fl">为您推荐</div>

                <div class="bor2"></div>
                <div class="cl"></div>
            </div>
            <div class="k_padd" style="padding-bottom: 10px;">
                <div class="xq_szcf fl">
                    <ul>
                        {% for item in other.recommand %}
                        <li>
                            <a href="/xzl_item?item_id={{ item.item_id }}" target="_blank"
                               title="{{ item.title }}"><img alt="{{ item.title }}"
                                                             src="{{ item.img_url }}"
                                                             onerror="javascript:this.src='/static/img/pc_list_placeholder.jpg'"/>
                            </a>
                            <a style="padding-top: 4px; height:44px;"
                               href="/item?item_id={{ item.item_id }}"
                               title="{{ item.title }}" target="_blank">{{ item.title }}</a>
                        </li>
                        {% endfor %}

                    </ul>
                    <div class="cl"></div>
                </div>
                <div class="cl"></div>
            </div>
        </div>
        <div class="w748 mt13">
            <div class="tab_tit f_wryh"><span class="mr20 bg_rjt tt1">求租需求登记</span><span class="tt2">业主委托登记</span></div>
            <form method="post" id="form_fafb852d995b8e8e5430e552c1a7ecce3"
                  action="http://shenzhen7.fangcms.cn/?m=api&c=Ajax&a=form_submit"
                  onsubmit="return f3df9ae499de0da2cb2bd60791f9b66d5();">
                <div class="tab_main tm1">
                    <p><a>需求描述：</a>
                        <input class="w633" type="text" id="attr_57" name="attr_57" value=""/>
                    </p>
                    <p><a>需求面积：</a>
                        <input class="w170" type="text" id="attr_56" name="attr_56" value=""/>
                        <span class="f_wryh" style="color: #636363; padding-left:4px;">㎡</span>
                    </p>
                    <p><a>您的称呼：</a>
                        <input class="w170" type="text" id="attr_55" name="attr_55" value=""/>
                        <a class="pl79">电话号码：</a>
                        <input class="w170" type="text" id="attr_40" name="attr_40" value=""/>
                    </p>
                    <div class="ta_but">
                        <input type="submit" value="确定"/>
                        <div class="w435 fl">
                            <span class="f_wryh">如果你没有找到合适的写字楼信息?  请填写以上的需求登记表</span>
                            <span class="f_wryh">或致电全国客服热线</span>
                            <span class="c_db4">400-1234567</span>
                        </div>
                        <div class="cl"></div>
                    </div>
                </div>
                <input type="hidden" name="ajax_form" value=""/>
                <input type="hidden" name="come_from" value="写字楼出租>石岩料坑廉价写字办公楼出租"/>
                <input type="hidden" name="parent_come_url" value=""/>
                <input type="hidden" name="aid" value="165"/>
                <input type="hidden" name="come_url"
                       value="http://shenzhen7.fangcms.cn/officecz/xiezilouchuzu/165.html"/>
                <input type="hidden" name="form_id" value="12"/>
                <input type="hidden" name="is_default" value="40"/>
                <input type="hidden" name="__token__3df9ae499de0da2cb2bd60791f9b66d5"
                       id="3df9ae499de0da2cb2bd60791f9b66d5" value=""/>
                <!--<script type="text/javascript" src="/public/static/common/js/jquery.min.js?v=v3.9.0"></script>-->
                <script type="text/javascript" src="/static/js/layer-v3.1.0/layer.js?v=v3.9.0"></script>
                <script type="text/javascript">
                    function f3df9ae499de0da2cb2bd60791f9b66d5() {

                        var x = document.getElementById('form_fafb852d995b8e8e5430e552c1a7ecce3');
                        for (var i = 0; i < x.length; i++) {

                            if (x[i].name == 'attr_57' && x[i].value.length == 0) {
                                layer.msg('需求描述不能为空！');
                                return false;
                            }

                            if (x[i].name == 'attr_56' && x[i].value.length == 0) {
                                layer.msg('需求面积不能为空！');
                                return false;
                            }

                            if (x[i].name == 'attr_55' && x[i].value.length == 0) {
                                layer.msg('您的称呼不能为空！');
                                return false;
                            }

                            if (x[i].name == 'attr_40' && x[i].value.length == 0) {
                                layer.msg('电话号码不能为空！');
                                return false;
                            }
                        }

                        var elements = document.getElementById("form_fafb852d995b8e8e5430e552c1a7ecce3");
                        var formData = new FormData();
                        for (var i = 0; i < elements.length; i++) {
                            formData.append(elements[i].name, elements[i].value);
                        }
                        var ajax = new XMLHttpRequest();
                        ajax.open("post", "/index.php?m=api&c=Ajax&a=form_submit&_ajax=1");
                        ajax.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                        ajax.send(formData);

                        ajax.onreadystatechange = function () {
                            if (ajax.readyState == 4 && ajax.status == 200) {
                                var json = ajax.responseText;
                                var res = JSON.parse(json);
                                if (1 == res.code) {
                                    reset_form(elements);
                                    fafb852d995b8e8e5430e552c1a7ecce3();
                                    fafb852d995b8e8e5430e552c1a7ecce3_notice(res.data.form_id, res.data.list_id);
                                    layer.msg(res.msg);


                                } else {
                                    layer.msg(res.msg);
                                    fafb852d995b8e8e5430e552c1a7ecce3();
                                }
                            }
                        }

                        return false;
                    }

                    function fafb852d995b8e8e5430e552c1a7ecce3() {
                        //步骤一:创建异步对象
                        var ajax = new XMLHttpRequest();
                        //步骤二:设置请求的url参数,参数一是请求的类型,参数二是请求的url,可以带参数,动态的传递参数starName到服务端
                        ajax.open("get", "/index.php?m=api&c=Ajax&a=get_token&name=__token__3df9ae499de0da2cb2bd60791f9b66d5", true);

                        // 给头部添加ajax信息
                        ajax.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                        //步骤三:发送请求+数据
                        ajax.send();
                        //步骤四:注册事件 onreadystatechange 状态改变就会调用
                        ajax.onreadystatechange = function () {
                            //步骤五 如果能够进到这个判断 说明 数据 完美的回来了,并且请求的页面是存在的
                            if (ajax.readyState == 4 && ajax.status == 200) {
                                document.getElementById("3df9ae499de0da2cb2bd60791f9b66d5").value = ajax.responseText;
                            }
                        }
                    }

                    function fafb852d995b8e8e5430e552c1a7ecce3_notice(form_id, list_id) {
                        //步骤一:创建异步对象
                        var ajax = new XMLHttpRequest();
                        //步骤二:设置请求的url参数,参数一是请求的类型,参数二是请求的url,可以带参数,动态的传递参数starName到服务端
                        ajax.open("post", "/index.php?m=api&c=Ajax&a=send_email", true);
                        // 给头部添加ajax信息
                        ajax.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                        // 如果需要像 HTML 表单那样 POST 数据，请使用 setRequestHeader() 来添加 HTTP 头。然后在 send() 方法中规定您希望发送的数据：
                        ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        //步骤三:发送请求+数据
                        ajax.send("type=form_submit&form_id=" + form_id + "&list_id=" + list_id);
                        //步骤四:注册事件 onreadystatechange 状态改变就会调用
                        ajax.onreadystatechange = function () {
                        }
                    }

                    //重置form表单
                    function reset_form(Clear_From) {
                        for (var a = 0; a < Clear_From.elements.length; a++) {
                            if (Clear_From.elements[a].type == "text") {				//类型为text的
                                Clear_From.elements[a].value = "";
                            } else if (Clear_From.elements[a].type == "password") {	//类型为password的
                                Clear_From.elements[a].value = "";
                            } else if (Clear_From.elements[a].type == "radio") {		//类型为radio的
                                Clear_From.elements[a].checked = false;
                            } else if (Clear_From.elements[a].type == "checkbox") {	//类型为
                                Clear_From.elements[a].checked = false;
                            } else if (Clear_From.elements[a].type == "select-one") {	//单选下拉菜单
                                Clear_From.elements[a].options[0].selected = true;	//选中第一个options
                            } else if (Clear_From.elements[a].type == "select-multiple") { //多选下拉菜单
                                for (var b = 0; b < Clear_From.elements[a].options.length; b++) { //将所有options设为false
                                    Clear_From.elements[a].options[b].selected = false;
                                }
                            } else if (Clear_From.elements[a].type == "textarea") {
                                Clear_From.elements[a].value = "";
                            }
                        }
                    }

                    fafb852d995b8e8e5430e552c1a7ecce3();
                </script>
            </form>
            <form method="post" id="form_f03d2185e3498ddef616bacadd430f5f4"
                  action="http://shenzhen7.fangcms.cn/?m=api&c=Ajax&a=form_submit"
                  onsubmit="return f42eba38f8ad1d736b02cebe6fc369d34();">
                <div class="tab_main d_none tm2">
                    <p><a>写字楼简介：</a>
                        <input class="w633" id="attr_60" name="attr_60" type="text" value=""/>
                    </p>
                    <p><a>写字楼面积：</a>
                        <input class="w170" type="text" id="attr_59" name="attr_59" value=""/>
                        <span class="f_wryh" style="color: #636363; padding-left:4px;">㎡</span>
                    </p>
                    <p><a>您的称呼：</a>
                        <input id="attr_58" name="attr_58" class="w170" type="text" value=""/>
                        <a class="pl79">电话号码：</a>
                        <input id="attr_41" name="attr_41" class="w170" type="text" value=""/>
                    </p>
                    <div class="ta_but">
                        <input type="submit" id="bt2" value="确定"/>
                        <div class="w435 fl">
                            <span class="f_wryh">如果你有写字楼需要出租、出售，请填写以上的委托登记表</span>
                            <span class="f_wryh">或致电全国客服热线</span>
                            <span class="c_db4">400-1234567</span>
                        </div>
                        <div class="cl"></div>
                    </div>
                </div>
                <input type="hidden" name="ajax_form" value=""/>
                <input type="hidden" name="come_from" value="写字楼出租>石岩料坑廉价写字办公楼出租"/>
                <input type="hidden" name="parent_come_url" value=""/>
                <input type="hidden" name="aid" value="165"/>
                <input type="hidden" name="come_url"
                       value="http://shenzhen7.fangcms.cn/officecz/xiezilouchuzu/165.html"/>
                <input type="hidden" name="form_id" value="13"/>
                <input type="hidden" name="is_default" value="41"/>
                <input type="hidden" name="__token__42eba38f8ad1d736b02cebe6fc369d34"
                       id="42eba38f8ad1d736b02cebe6fc369d34" value=""/>
                <!--<script type="text/javascript" src="/public/static/common/js/jquery.min.js?v=v3.9.0"></script>-->
                <script type="text/javascript" src="/public/plugins/layer-v3.1.0/layer.js?v=v3.9.0"></script>
                <script type="text/javascript">
                    function f42eba38f8ad1d736b02cebe6fc369d34() {

                        var x = document.getElementById('form_f03d2185e3498ddef616bacadd430f5f4');
                        for (var i = 0; i < x.length; i++) {

                            if (x[i].name == 'attr_60' && x[i].value.length == 0) {
                                layer.msg('写字楼简介不能为空！');
                                return false;
                            }

                            if (x[i].name == 'attr_59' && x[i].value.length == 0) {
                                layer.msg('写字楼面积不能为空！');
                                return false;
                            }

                            if (x[i].name == 'attr_58' && x[i].value.length == 0) {
                                layer.msg('您的称呼不能为空！');
                                return false;
                            }

                            if (x[i].name == 'attr_41' && x[i].value.length == 0) {
                                layer.msg('电话号码不能为空！');
                                return false;
                            }

                            if (x[i].name == 'attr_41' && !(/^1\d{10}$/.test(x[i].value))) {
                                layer.msg('电话号码格式不正确！');
                                return false;
                            }
                        }

                        var elements = document.getElementById("form_f03d2185e3498ddef616bacadd430f5f4");
                        var formData = new FormData();
                        for (var i = 0; i < elements.length; i++) {
                            formData.append(elements[i].name, elements[i].value);
                        }
                        var ajax = new XMLHttpRequest();
                        ajax.open("post", "/index.php?m=api&c=Ajax&a=form_submit&_ajax=1");
                        ajax.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                        ajax.send(formData);

                        ajax.onreadystatechange = function () {
                            if (ajax.readyState == 4 && ajax.status == 200) {
                                var json = ajax.responseText;
                                var res = JSON.parse(json);
                                if (1 == res.code) {
                                    reset_form(elements);
                                    f03d2185e3498ddef616bacadd430f5f4();
                                    f03d2185e3498ddef616bacadd430f5f4_notice(res.data.form_id, res.data.list_id);
                                    layer.msg(res.msg);


                                } else {
                                    layer.msg(res.msg);
                                    f03d2185e3498ddef616bacadd430f5f4();
                                }
                            }
                        }

                        return false;
                    }

                    function f03d2185e3498ddef616bacadd430f5f4() {
                        //步骤一:创建异步对象
                        var ajax = new XMLHttpRequest();
                        //步骤二:设置请求的url参数,参数一是请求的类型,参数二是请求的url,可以带参数,动态的传递参数starName到服务端
                        ajax.open("get", "/index.php?m=api&c=Ajax&a=get_token&name=__token__42eba38f8ad1d736b02cebe6fc369d34", true);

                        // 给头部添加ajax信息
                        ajax.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                        //步骤三:发送请求+数据
                        ajax.send();
                        //步骤四:注册事件 onreadystatechange 状态改变就会调用
                        ajax.onreadystatechange = function () {
                            //步骤五 如果能够进到这个判断 说明 数据 完美的回来了,并且请求的页面是存在的
                            if (ajax.readyState == 4 && ajax.status == 200) {
                                document.getElementById("42eba38f8ad1d736b02cebe6fc369d34").value = ajax.responseText;
                            }
                        }
                    }

                    function f03d2185e3498ddef616bacadd430f5f4_notice(form_id, list_id) {
                        //步骤一:创建异步对象
                        var ajax = new XMLHttpRequest();
                        //步骤二:设置请求的url参数,参数一是请求的类型,参数二是请求的url,可以带参数,动态的传递参数starName到服务端
                        ajax.open("post", "/index.php?m=api&c=Ajax&a=send_email", true);
                        // 给头部添加ajax信息
                        ajax.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                        // 如果需要像 HTML 表单那样 POST 数据，请使用 setRequestHeader() 来添加 HTTP 头。然后在 send() 方法中规定您希望发送的数据：
                        ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        //步骤三:发送请求+数据
                        ajax.send("type=form_submit&form_id=" + form_id + "&list_id=" + list_id);
                        //步骤四:注册事件 onreadystatechange 状态改变就会调用
                        ajax.onreadystatechange = function () {
                        }
                    }

                    //重置form表单
                    function reset_form(Clear_From) {
                        for (var a = 0; a < Clear_From.elements.length; a++) {
                            if (Clear_From.elements[a].type == "text") {				//类型为text的
                                Clear_From.elements[a].value = "";
                            } else if (Clear_From.elements[a].type == "password") {	//类型为password的
                                Clear_From.elements[a].value = "";
                            } else if (Clear_From.elements[a].type == "radio") {		//类型为radio的
                                Clear_From.elements[a].checked = false;
                            } else if (Clear_From.elements[a].type == "checkbox") {	//类型为
                                Clear_From.elements[a].checked = false;
                            } else if (Clear_From.elements[a].type == "select-one") {	//单选下拉菜单
                                Clear_From.elements[a].options[0].selected = true;	//选中第一个options
                            } else if (Clear_From.elements[a].type == "select-multiple") { //多选下拉菜单
                                for (var b = 0; b < Clear_From.elements[a].options.length; b++) { //将所有options设为false
                                    Clear_From.elements[a].options[b].selected = false;
                                }
                            } else if (Clear_From.elements[a].type == "textarea") {
                                Clear_From.elements[a].value = "";
                            }
                        }
                    }

                    f03d2185e3498ddef616bacadd430f5f4();
                </script>
            </form>

        </div>
    </div>
    <div class="fr">
        <div class="w236 bor1">
            <div class="xq_jjrp"><a href="" target="_blank"><img
                    src="/uploads/allimg/20200717/1-200GG533354M.jpg"
                    onerror="javascript:this.src='/static/img/pc_list_placeholder.jpg'"
                    acit="/uploads/allimg/20200717/1-200GG533354M.jpg"/></a></div>
            <div class="xq_jjrname"><a href="" target="_blank">周生</a><img
                    src="/static/img/jjr_rz.jpg" title="实名认证用户"/></br>
                <span></span>
                <div class="cl"></div>
            </div>
            <div class="w128"><a class="into_wd" href="" title="进入经纪人店铺"
                                 target="_blank">进入我的网店</a>
            </div>
        </div>


    </div>
    <div class="cl"></div>
</div>
<div class="sz_shuq ad_bq col-3">
    <div class="sq_hd">
        <div class="sq_topclose"></div>
    </div>
    <div class="sq_bd1">
        <div class="pl13_6 fl">
            <span style="margin-top:10px"><a class="f_wryh" href="/xiezilou?area=深圳">深圳</a>
      <div class="cl"></div>
      </span>
            <ul class="fl" style="padding-top: 3px;">
            </ul>
            <span style="margin-top:10px"><a class="f_wryh" href="/chuzu?area=东莞">东莞</a>
      <div class="cl"></div>
      </span>
            <ul class="fl" style="padding-top: 3px;">
            </ul>
        </div>

        <div class="cl"></div>
    </div>


    <div class="sq_ft"></div>
</div>
<div class="W1000 marginT14 link slideTxtBox1" id="demoContent">
    <div class="top hd">
        <div class="FL"><a href="javascript:;" id="ho" class="cc1" style="color:black;font-weight:bold;">区域直达</a></div>
    </div>

    <p class="infoList1" id="qlist">
        <a href="javascript:;" onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
           data-url='/xiezilou?area_id=南山'>南山写字楼出租</a>
        <a href="javascript:;" onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
           data-url='/xiezilou?area_id=宝安'>宝安写字楼出租</a>
        <a href="javascript:;" onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
           data-url='/xiezilou?area_id=龙岗'>龙岗写字楼出租</a>
        <a href="javascript:;" onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
           data-url='/xiezilou?area_id=盐田'>盐田写字楼出租</a>
        <a href="javascript:;" onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
           data-url='/xiezilou?area_id=龙华'>龙华写字楼出租</a>
        <a href="javascript:;" onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
           data-url='/xiezilou?area_id=坪山'>坪山写字楼出租</a>
    <div id="ey_f374fa669b56b73635af740ec57faab1" style="display:none;"></div>
    <script type="text/javascript">
        function ey_97c0670026ad69b846ea069ffdb217a9(obj, target) {
            var dataurl = obj.attributes['data-url'].value;
            if (dataurl) {
                if (target === '_blank') {
                    window.open(dataurl);
                } else {
                    window.location.href = dataurl;
                }
            } else {
                console.log('内部错误，data-url 没有赋值！');
            }
        }

        function ey_3c160ded72fd680a55a591829e72a776(obj) {
            var index = obj.selectedIndex;
            var dataurl = obj.options[index].attributes['data-url'].value;
            if (dataurl) {
                window.location.href = dataurl;
            } else {
                console.log('内部错误，data-url 没有赋值！');
            }
        }

        function ey_64a6969e1e14debe4c36b3a960553da7(obj, currentstyle) {
            var name = obj.attributes['data-name'].value;
            var value = obj.attributes['data-value'].value;
            if (name) {
                var texs = document.getElementsByName(name + '_name');
                for (var i = 0; i < texs.length; i++) {
                    texs[i].className = "";
                }
                document.getElementById(name).value = value;
                document.getElementById(name + value + '_id').className = currentstyle;
            } else {
                console.log('内部错误，data-name 没有赋值！');
            }
        }

        function ey_2b2c5ac3a587605ea04ae24d33acff35(currentstyle) {
            var texs = document.getElementById('ey_f374fa669b56b73635af740ec57faab1').childNodes;
            for (var i = 0; i < texs.length; i++) {
                var xuanzhong = document.getElementById(texs[i].id + texs[i].value + "_id");
                if (xuanzhong) {
                    xuanzhong.className = '';
                }
                var buxian = document.getElementById(texs[i].id + "_id");
                if (buxian) {
                    buxian.className = currentstyle;
                }
                texs[i].value = "";
            }
        }

        function ey_9c1d2b4a1029a5fd76cff1980876dffe(originUrl) {
            var texs = document.getElementById('ey_f374fa669b56b73635af740ec57faab1').childNodes;
            for (var i = 0; i < texs.length; i++) {
                var re = "&" + texs[i].name + "=((?!&).)*";
                var replace_str = originUrl.match(new RegExp(re));
                if (replace_str) {
                    originUrl = originUrl.replace(replace_str[0], '');
                }
                if (texs[i].value) {
                    originUrl = originUrl + "&" + texs[i].name + "=" + texs[i].value;
                }
            }
            window.location.href = originUrl;
        }
    </script>
    </p>

</div>
<div class="cl"></div>


<link rel="stylesheet" type="text/css" href="/static/css/footer_index.css?t=1612143734"/>
<div class="foot W1000" style="border-top: none">

    <a href="" target="_self">关于我们</a>

    <a href="" target="_self">联系我们</a>

    <a href="" target="_self">用户协议</a>

    <a href="" target="_self">免责声明</a>

    <br>
    Copyright © 2020-2028 房产租售网 版权所有<a href="https://beian.miit.gov.cn/" rel="nofollow"
                                       target="_blank">粤ICP备xxxxxxxx号</a><br/>
    <span style="display:none">
</div>


<script src="/static/js/index.js"></script>
<script type="text/javascript" src="/static/js/jquery.prettyphoto.js"></script>

<script>
    $(function () {

        $("#photo:first a[rel^='prettyPhoto']").prettyPhoto({
            animation_speed: 'fast',
            slideshow: 10000,
            hideflash: true
        });
        $("#type:first a[rel^='prettyPhoto']").prettyPhoto({
            animation_speed: 'fast',
            slideshow: 10000,
            hideflash: true
        });
    });
</script>

</body>
</html>