/***************************** app下载 *****************************/
.appDownload{
    padding: 0.3rem;
    background: #f8f8f8;
    /*max-width: 640px;*/
    margin: 0 auto;
}
.appDownload a{
    display: block;
    background: #ffffff;
    padding: 0.3rem 0.4rem;
    overflow: hidden;
    border-radius: 0.32rem;
    box-shadow: 0px 0.1rem 0.2rem rgba(0,0,0,.1);
    position: relative;
}
.appDownload .pic{
    float: left;
    width: 1.08rem;
    height: 1.08rem;
    margin-right: 0.32rem;
}
.appDownload .pic img{
    width: 1.08rem;
    height: 1.08rem;
}
.appDownload .txt h4{
    font-size: 0.36rem;
    line-height: 0.5rem;
    margin-bottom: 0.14rem;
    font-weight: normal;
}
.appDownload .txt p{
    font-size: 0.26rem;
    line-height: 0.38rem;
    color: #999;
}
.appDownload .btn{
    float: right;
    width: 1.7rem;
    height:0.64rem;
    -webkit-border-radius: 0.04rem;
    -moz-border-radius: 0.04rem;
    border-radius: 0.04rem;
    color: #fff;
    text-align: center;
    line-height: 0.64rem;
    background-color: #e03b36;
    font-size: 0.28rem;
    
    position: absolute;
    top: 50%;
    right: 0.4rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*固定*/
.appDownloadFix{
    position: fixed;
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    /*top: 0;*/
    max-width: 7.5rem;
    z-index: 1000;
    background: #FFFFFF;
    -webkit-box-shadow: 0 -0.04rem 0.04rem 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 -0.04rem 0.04rem 0 rgba(0,0,0,0.10);
    box-shadow: 0 -0.04rem 0.04rem 0 rgba(0,0,0,0.10);
    height: 1.1rem;
    line-height: 1.1rem;
    padding: 0 0.6rem;
    bottom: 0;
    /*display: none;*/
    /*visibility: hidden;*/
}
.appDownloadFix .txt h4{
    font-size: 0.32rem;
    color: #333333;
    font-weight: normal;
    position: relative;
    padding-left: 0.89rem;
}
.appDownloadFix .txt h4::before{
    content: '';
    display: block;
    width: 0.63rem;
    height: 0.63rem;
    background-image: url("../images/detailed_logo2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.appDownloadFix .btn a{
    display: block;
    width: 1.7rem;
    height:0.64rem;
    -webkit-border-radius: 0.04rem;
    -moz-border-radius: 0.04rem;
    border-radius: 0.04rem;
    color: #fff;
    text-align: center;
    line-height: 0.64rem;
    background-color: #e03b36;
    font-size: 0.28rem;
    margin-top: 0.23rem;
}
.appDownloadFix .close{
    position: absolute;
    width:0.18rem;
    height: 0.18rem;
    background-image: url("../images/appdownloadfixclose.png");
    background-repeat: no-repeat;
    background-size: 100%;
    right: 0.18rem;
    top: 0.1rem;
}
.appDownloadFixShow{
    /*display: block;*/
    visibility: visible;
}
.closeHide{
    visibility: hidden !important;
    display: none !important;
}
/************************* 头部banner *************************/
.iheadBox{
    position: relative;
    width: 100%;
}
/*header*/
.iheadBox .ihead{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 0 0.3rem;
    margin-top: 0.26rem;
}
.iheadBox .ihead .logo{
    float: left;
    width: 1.73rem;
    height: 0.35rem;
}
.iheadBox .ihead .tel{
    float: right;
}
.iheadBox .ihead .tel a{
    display: block;
    font-size: 0.28rem;
    color: #fff;
    position: relative;
    padding-left: 0.58rem;
}
.iheadBox .ihead .tel i.icon_tel{
    display: inline-block;
    width: 0.34rem;
    height: 0.34rem;
    background: url("../images/homepage_top_icon_phone.png") no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.iheadBox .iBanner{
    width: 100%;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}
.iheadBox .iBanner li img{
    height: 4.5rem;
}
.iheadBox .iBanner .swiper-pagination-bullet{
    width: 0.12rem;
    height: 0.12rem;
    background: #FFFFFF;
    opacity: 0.5;

}
.iheadBox .iBanner .swiper-pagination-bullet-active{
    opacity: 1;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: 0.14rem !important;
}
/*搜索*/
.iSearch{
    position: absolute;
    bottom: 0.43rem;
    left: 0;
    z-index: 100;
    background-color: #fff;
    display: block;
    width: 6.7rem;
    height: 0.8rem;
    line-height: 0.8rem;
    margin: 0 0.4rem;
    -webkit-border-radius: 0.06rem;
    -moz-border-radius: 0.06rem;
    border-radius: 0.06rem;
    /*position: relative;*/
}
.iSearch a.city{
    display: block;
    float: left;
    color: #303030;
    font-size: 0.24rem;
    line-height: 0.32rem;
    border-right: 1px solid #d8d8d8;
    width: 1.34rem;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.iSearch a.city span{
    position: relative;
    padding-right: 0.19rem;
}
.iSearch a.city span i{
    display: inline-block;
    width: 0.14rem;
    height: 0.09rem;
    background:url("../images/search_down_icon.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.iSearch>input{
    font-size: 0.26rem;
    color: #ccc;
    display: block;
    margin-left: 1.34rem;
    padding-left: 0.34rem;
    line-height: 0.8rem;
    position: absolute;
    top: 0;
    display: block;
    padding-right: 0.2rem;
    width: 5rem;
}
.iSearch .icon_sear{
    width: 0.26rem;
    height: 0.26rem;
    display: block;
    background: url("../images/iserchicon.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    right: 0.3rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.iSearch .iSearchLink{
    margin-left: 1.58rem;
    display: block !important;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

/************************* 金刚区 *************************/
.navBox>ul{
    /*padding: 15px 0;*/
    padding-top: 0.3rem;
}
.navBox>ul li{
    float: left;
    width: 20%;
    margin-bottom: 0.3rem;
}
.navBox>ul li a{
    display: block;
    text-align: center;
}
.navBox>ul li a img{
    width: 0.9rem;
    height: 0.9rem;
}
.navBox>ul li a p{
    margin-top: 0.2rem;
    color: #666;
    font-size: 0.26rem;
    line-height: 0.36rem;
}
/*.navBox>ul li:nth-of-type(4n) a{*/
    /*text-align: right;*/
/*}*/
/*.navBox>ul li:nth-of-type(5n) a,.navBox>ul li:nth-of-type(1) a{*/
    /*text-align: left;*/
/*}*/

/************************* 公告 *************************/
.notice{
    /*padding:0 0.3rem;*/
    /*box-shadow: 0 0.02rem 0.08rem 0 rgba(0,0,0,0.10);*/
    /*height: 0.44rem;*/
    overflow: hidden;
    line-height: 0.8rem;
    height: 0.8rem;
    border-top: 1px solid #f0f0f0;
    margin: 0 0.3rem;

}
.notice div.noticeCon{

    /*padding: 0 0.1rem;*/
}
.notice div.noticeCon p,.notice .noticeCon p{
    /*border-top: 1px solid #f0f0f0;*/
    font-size: 0.24rem;
    line-height: 0.8rem;
    color: #303030;
    /*padding-top: 0.16rem;*/

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/************************* 精选楼盘 *************************/
.choiceList{
    padding-bottom: 0.06rem;
}
.choiceList ul li{
    /*width: 3.3rem !important;*/
    -webkit-border-radius: 0.08rem;
    -moz-border-radius: 0.08rem;
    border-radius: 0.08rem;
    overflow: hidden;
    box-shadow: 0 0.04rem 0.04rem 0 rgba(159,152,152,0.15);
    -webkit-box-shadow: 0 0.04rem 0.04rem 0 rgba(159,152,152,0.15);
    /*margin-right: 0.2rem;*/
}
.choiceList ul li .pic img{
    height: 2.46rem;

}
.choiceList ul li .txt{
    padding:0 0.15rem 0.22rem;
}
.choiceList ul li .txt h3{
    font-weight: normal;
    font-size: 0.28rem;
    color: #303030;
    line-height: 0.4rem;
    margin-bottom: 0.06rem;
    margin-top: 0.2rem;

    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.choiceList ul li .txt p{overflow: hidden}
.choiceList ul li .txt p span:nth-of-type(1){
    color: #e03b36;
    font-size: 0.2rem;
    line-height: 0.37rem;
}
.choiceList ul li .txt p span:nth-of-type(1) i{
    font-size: 0.26rem;
}
.choiceList ul li .txt p span:nth-of-type(2){
    font-size: 0.22rem;
    line-height: 0.3rem;
    color: #666;
}
.iheadBox .ihead .tel{
    float: right;
}
.iheadBox .ihead .tel a{
    display: block;
    font-size: 0.28rem;
    color: #fff;
    position: relative;
    padding-left: 0.58rem;
}