<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>写字楼出租_房产租售网</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <script src="/static/js/jquery00.js" type="text/javascript"></script>
    <script src="/static/js/switchimage.js" type="text/javascript"></script>
    <script src="/static/js/jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/szgg_lunbo.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/szlist.js"></script>
    <script type="text/javascript" src="/static/js/allszheader.js"></script>
    <script type="text/javascript" src="/static/js/allszlist.js"></script>
    <script src="/static/js/uaredirect.js" type="text/javascript"></script>
    <link href="/static/css/reset_1.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/index_1.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/szlist.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/szheader.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/newcfpic.css">
    <link rel="stylesheet" href="static/css/newpic.css">
</head>
<body>

<link rel="stylesheet" type="text/css" href="/static/css/header_index.css?t=1611907628"/>
<div class="DivH36">
    <div class="W1000">
        <div class="FL F12 c303">厂房出租 • 产业园区招商 • 企业选址平台</div>
        <div class="zs_dbright FR">
            <ul>

                <li onmouseover="xiala('erwei',true)" onmouseout="xiala('erwei',false)"><a href="#"
                                                                                           target="_blank">微信</a>
                    <div class="erweima" id="erwei" style="display: none;"><img
                            src="/uploads/allimg/20191011/1-1910111A214110.jpg"></div>
                </li>
                <li class="zs_club" onmouseover="xiala1()" onmouseout="xiala2()"><a id="ywhz"
                                                                                    href="http://shenzhen7.fangcms.cn/single/yewuhezuo245.html"
                                                                                    target="_blank">业务合作</a>
                    <div class="jtxl" id="jtxl" style="display: none;"><a
                            href="http://shenzhen7.fangcms.cn/single/gongsijianjie.html" target="_blank">公司简介</a> <a
                            href="http://shenzhen7.fangcms.cn/single/lianxiwomen949.html" target="_blank">联系我们</a> <a
                            href="http://shenzhen7.fangcms.cn/single/yonghuxieyi916.html" target="_blank">用户协议</a> <a
                            href="http://shenzhen7.fangcms.cn/single/mianzeshengming.html" target="_blank">免责声明</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="W1000 head marginT20">
    <div class="FL marginT17"><a href="http://eju7.qiudei.com"><img src="/uploads/allimg/20191011/1-191011115322C1.png"
                                                                    alt="房产租售网"></a></div>
    <div class="FL LH24 marginL20" style="margin-top:37px;">
        <div class="m_city fl" style="position:relative;">
            <div id="change_city"><font color="#4169e1" style="font-size:18px;"><strong
                    class="F19 cred">深圳</strong></font> <a class="F12 cGray" href="javascript:void(0);"
                                                           onMouseOver="javascript:ChangeCity(1);">[切换城市]</a></div>
            <div class="qhcity_box" id="popwindow" style="display:none;z-index: 20;">
                <div class="qhcity_close" onclick="javascript:ChangeCity();"><img src="/static/img/close.gif" alt="关闭"
                                                                                  title="关闭"/></div>
                <div class="qhcity_hot" style="line-height:20px; padding-top:5px; padding-bottom:5px;">
                    <span>当前城市：</span> <a href="">深圳</a></div>
                <div class="qhcity_area" style="line-height:20px; padding-top:5px; padding-bottom:5px;"> 广东：
                    <a href="//guangzhou7.fangcms.cn/" title="东莞">东莞</a>
                    <a href="//shenzhen7.fangcms.cn/" title="深圳">深圳</a>
                    <a href="//shenzhen7.fangcms.cn/" title="惠州">惠州</a>
                </div>
            </div>
        </div>
    </div>
    <div class="FR" style="width:504px;">
        <div class="t-r F12">
            <div class="FR"><span class="cGray">全国客服热线：</span>
                <p class="FR phone">400-1234567</p>
            </div>
        </div>
        <div class="clear"></div>
        <script type="text/javascript" src="/static/js/jquery.js?t=1611905168"></script>
        <script type="text/javascript" src="/static/js/index_allszheader.js?t=1611905168"></script>
        <script type="text/javascript">
            function SelText(obj) {
                var mode = $(obj).attr('data-mode');
                $(".mode_div").hide();
                $("#" + mode).show();
            }

            function submitForm(obj) {
                var mode = $(obj).data('mode');
                $("#form_" + mode).submit();
            }

        </script>
        <div class="mr_search FR marginT5">
            <div class="mode_div" id="cangfcz">
                <form method="get" action="/keywords" id="form_cangfcz" class="zform">
                    <div class="select fl" onMouseOver="xiala('s_xlmenu_cangfcz',true)"
                         onMouseOut="xiala('s_xlmenu_cangfcz',false)">
                        <div class="s_xiala">
                            <input id="ct_input" type="button" class="selectbox" value="厂房出租"/>
                        </div>
                        <div class="s_xialamenu" id="s_xlmenu_cangfcz">
                            <ul>
                                <li><a href="javascript:;" onClick="SelText(this);" data-mode="cangfcz">厂房出租</a></li>
                                <li><a href="javascript:;" onClick="SelText(this);" data-mode="officecz">写字楼出租</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text fl">
                        <input name="keyword" type="text" placeholder="{{ other.keyword }}"/>
                    </div>
                    <div class="searbut fr" style="height:32px; overflow:hidden;">
                        <input type="submit" data-mode="cangfcz" class="searanniu" value="搜索"/>
                    </div>
                    <input type="hidden" name="page_type" value="changfang">
                </form>

            </div>


            <div style="display: none" class="mode_div" id="officecz">
                <form method="get" action="/keywords" id="form_officecz" class="zform">
                    <div class="select fl" onMouseOver="xiala('s_xlmenu_officecz',true)"
                         onMouseOut="xiala('s_xlmenu_officecz',false)">
                        <div class="s_xiala">
                            <input type="button" class="selectbox" value="写字楼出租"/>
                        </div>
                        <div class="s_xialamenu" id="s_xlmenu_officecz">
                            <ul>
                                <li><a href="javascript:;" onClick="SelText(this);" data-mode="cangfcz">厂房出租</a></li>
                                <li><a href="javascript:;" onClick="SelText(this);" data-mode="officecz">写字楼出租</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text fl">
                        <input name="keyword" type="text" placeholder="{{ other.keyword }}"/>
                    </div>
                    <div class="searbut fr" style="height:32px; overflow:hidden;">
                        <input type="submit" data-mode="officecz" class="searanniu" value="搜索"/>
                    </div>
                    <input type="hidden" name="page_type" value="xiezilou">
                </form>

            </div>
        </div>

    </div>
    <div class="clear"></div>
</div>
<div class="marginT20" style="background:royalblue;">
    <div class="W1000 nav" style="position: relative;">
        <ul>
            <li><a id="" href="/" target="_self">首页</a></li>
            <li><a id="" href="/chuzu" target="_self">厂房出租</a></li>
            <li><a id="hot" href="/xiezilou" target="_self">写字楼出租</a></li>
            <li><a id="" href="" target="_self">资讯</a></li>
            <li><a id="" href="" target="_self">业务合作</a></li>
            <li><a id="" href="" target="_self">求租求购</a></li>
        </ul>
        <div style="position:absolute; right:-19px;"><a href=""
                                                        target="_blank"><img width="114" height="40"
                                                                             src="/static/img/wx800.gif"></a></div>
    </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
    function xiaoshi(obj) {
        obj.value = "";
    }

    function xianshi(obj, message) {
        if (obj.value == null || obj.value == "")
            obj.value = message;
    }

    /*
    导航条.显示函数
    */
    function block_show(id, isHome) {
        var list = document.getElementsByClassName("n_ejmenu FR");
        for (var i = 0, j = list.length; i < j; i++) {
            list[i].style.display = "none";
        }
        if (!isHome) {
            document.getElementById(id).style.display = "block";
            document.getElementById("line").style.display = "none";
        } else {
            document.getElementById("line").style.display = "block";
        }
    }

</script>

<div class="zs_newmbx"><a href='/' class=' '>首页</a> &gt; <a
        href='http://m7.fangcms.cn/shenzhen7/officecz/xiezilou621.html' class=' '>写字楼</a> &gt; <a
        href='http://m7.fangcms.cn/shenzhen7/officecz/xiezilouchuzu.html'>写字楼出租</a></div>
<div class="w998 bor1 ser_sx" id="box">
    <dl>
        <dt>区域：</dt>
        <dd>
            <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
               data-url='/xiezilou?price={{ other.price }}&space={{ other.space }}&keyword={{ other.keyword }}'
               class="c_d42">不限</a>
            {% for area in other.areas %}
            {% if area == other.area_id %}
            <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
               data-url='/xiezilou?area_id={{ area }}&price={{ other.price }}&space={{ other.space }}&keyword={{ other.keyword }}'
               class="c_d42">{{ area }}</a>
            {% else %}
            <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
               data-url='/xiezilou?area_id={{ area }}&price={{ other.price }}&space={{ other.space }}&keyword={{ other.keyword }}'
               class="">{{ area }}</a>
            {% endif %}
            {% endfor %}
        </dd>
    </dl>
    <dl>
        <dt>租金：</dt>
        <dd>
            <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
               data-url='/xiezilou?area_id={{ other.area_id }}&space={{ other.space }}&strc={{ strc }}&floor={{ other.floor }}&keyword={{ other.keyword }}'
               class="c_d42">不限</a>
            {% for p, p_context in [("0,10000", "10000元/月以下"), ("10000,30000", "10000-30000元/月"), ("30000,50000",
            "30000-50000元/月"), ("50000,70000",
            "50000-70000元/月"), ("70000,100000", "70000-100000元/月"), ("100000, 999999", "100000元/月以上")] %}
            {% if p == other.price %}
            <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
               data-url='/xiezilou?area_id={{ other.area_id }}&price={{ p }}&space={{ other.space }}&keyword={{ other.keyword }}'
               class="c_d42">{{ p_context }}</a>
            {% else %}
            <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
               data-url='/xiezilou?area_id={{ other.area_id }}&price={{ p }}&space={{ other.space }}&keyword={{ other.keyword }}'
               class="">{{ p_context }}</a>
            {% endif %}
            {% endfor %}
        </dd>
    </dl>
    <dl>
        <dt>面积：</dt>
        <dd>
            <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
               data-url='/xiezilou?area_id={{ other.area_id }}&price={{ other.price }}&keyword={{ other.keyword }}'
               class="c_d42">不限</a>
            {% for s, s_context in [("0,100", "100平米以下"), ("100,200", "100-200平米"), ("200,300", "200-300平米"),
            ("300,500",
            "300-500平米"), ("500,800", "500-800平米"), ("800,1000", "800-1000平米"), ("1000,2000", "1000-2000平米"),
            ("2000,99999", "2000平米以上") ] %}
            {% if s == other.space %}
            <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
               data-url='/xiezilou?area_id={{ other.area_id }}&price={{ other.price }}&space={{ s }}&keyword={{ other.keyword }}'
               class="c_d42">{{ s_context }}</a>
            {% else %}
            <a onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
               data-url='/xiezilou?area_id={{ other.area_id }}&price={{ other.price }}&space={{ s }}&keyword={{ other.keyword }}'
               class="">{{ s_context }}</a>
            {% endif %}
            {% endfor %}
        </dd>
    </dl>

    <div id="ey_d9ba40e2902504ecbdd2d1ff0f69a369" style="display:none;"></div>
    <script type="text/javascript">
        function ey_97c0670026ad69b846ea069ffdb217a9(obj, target) {
            var dataurl = obj.attributes['data-url'].value;
            if (dataurl) {
                if (target === '_blank') {
                    window.open(dataurl);
                } else {
                    window.location.href = dataurl;
                }
            } else {
                console.log('内部错误，data-url 没有赋值！');
            }
        }

        function ey_3c160ded72fd680a55a591829e72a776(obj) {
            var index = obj.selectedIndex;
            var dataurl = obj.options[index].attributes['data-url'].value;
            if (dataurl) {
                window.location.href = dataurl;
            } else {
                console.log('内部错误，data-url 没有赋值！');
            }
        }

        function ey_64a6969e1e14debe4c36b3a960553da7(obj, currentstyle) {
            var name = obj.attributes['data-name'].value;
            var value = obj.attributes['data-value'].value;
            if (name) {
                var texs = document.getElementsByName(name + '_name');
                for (var i = 0; i < texs.length; i++) {
                    texs[i].className = "";
                }
                document.getElementById(name).value = value;
                document.getElementById(name + value + '_id').className = currentstyle;
            } else {
                console.log('内部错误，data-name 没有赋值！');
            }
        }

        function ey_2b2c5ac3a587605ea04ae24d33acff35(currentstyle) {
            var texs = document.getElementById('ey_d9ba40e2902504ecbdd2d1ff0f69a369').childNodes;
            for (var i = 0; i < texs.length; i++) {
                var xuanzhong = document.getElementById(texs[i].id + texs[i].value + "_id");
                if (xuanzhong) {
                    xuanzhong.className = '';
                }
                var buxian = document.getElementById(texs[i].id + "_id");
                if (buxian) {
                    buxian.className = currentstyle;
                }
                texs[i].value = "";
            }
        }

        function ey_9c1d2b4a1029a5fd76cff1980876dffe(originUrl) {
            var texs = document.getElementById('ey_d9ba40e2902504ecbdd2d1ff0f69a369').childNodes;
            for (var i = 0; i < texs.length; i++) {
                var re = "&" + texs[i].name + "=((?!&).)*";
                var replace_str = originUrl.match(new RegExp(re));
                if (replace_str) {
                    originUrl = originUrl.replace(replace_str[0], '');
                }
                if (texs[i].value) {
                    originUrl = originUrl + "&" + texs[i].name + "=" + texs[i].value;
                }
            }
            window.location.href = originUrl;
        }
    </script>
    <div class="cl"></div>
</div>
<script type="text/javascript">
    $(function () {
        $("#box dl:last").addClass("borno");
    });
</script>
<div class="W1000 mt13">
    <div class="tab_cf mt13">
        <div class="tab_l fl">
            <h3>我要租写字楼</h3>
            <p>免中介费&nbsp;总机：<em>400-1234567</em></p>
        </div>
        <div class="tab_r fr">
            <form method="post" id="form_ffddccc6f161bfcc6dc4dc74fde549212"
                  action="http://shenzhen7.fangcms.cn/?m=api&c=Ajax&a=form_submit"
                  onsubmit="return ffa6171743e16b8a2b2701eece79fd448();">
                <input id="attr_36" name="attr_36" type="text" class="t_i1" placeholder="请输入您的称呼">
                <input id="attr_31" name="attr_31" type="text" class="t_i2" placeholder="请输入电话号码">
                <input id="submit" type="submit" class="tab_but" value="">
                <input type="hidden" name="ajax_form" value=""/>
                <input type="hidden" name="come_from" value="写字楼出租"/>
                <input type="hidden" name="parent_come_url" value=""/>
                <input type="hidden" name="aid" value="0"/>
                <input type="hidden" name="come_url" value="http://shenzhen7.fangcms.cn/officecz/xiezilouchuzu.html"/>
                <input type="hidden" name="form_id" value="8"/>
                <input type="hidden" name="is_default" value="31"/>
                <input type="hidden" name="__token__fa6171743e16b8a2b2701eece79fd448"
                       id="fa6171743e16b8a2b2701eece79fd448" value=""/>
                <!--<script type="text/javascript" src="/public/static/common/js/jquery.min.js?v=v3.9.0"></script>-->
                <script type="text/javascript" src="/static/jslayer.js?v=v3.9.0"></script>
                <script type="text/javascript">
                    function ffa6171743e16b8a2b2701eece79fd448() {

                        var x = document.getElementById('form_ffddccc6f161bfcc6dc4dc74fde549212');
                        for (var i = 0; i < x.length; i++) {

                            if (x[i].name == 'attr_31' && x[i].value.length == 0) {
                                layer.msg('电话号码不能为空！');
                                return false;
                            }

                            if (x[i].name == 'attr_36' && x[i].value.length == 0) {
                                layer.msg('您的称呼不能为空！');
                                return false;
                            }
                        }

                        var elements = document.getElementById("form_ffddccc6f161bfcc6dc4dc74fde549212");
                        var formData = new FormData();
                        for (var i = 0; i < elements.length; i++) {
                            formData.append(elements[i].name, elements[i].value);
                        }
                        var ajax = new XMLHttpRequest();
                        ajax.open("post", "/index.php?m=api&c=Ajax&a=form_submit&_ajax=1");
                        ajax.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                        ajax.send(formData);

                        ajax.onreadystatechange = function () {
                            if (ajax.readyState == 4 && ajax.status == 200) {
                                var json = ajax.responseText;
                                var res = JSON.parse(json);
                                if (1 == res.code) {
                                    reset_form(elements);
                                    ffddccc6f161bfcc6dc4dc74fde549212();
                                    ffddccc6f161bfcc6dc4dc74fde549212_notice(res.data.form_id, res.data.list_id);
                                    layer.msg(res.msg);


                                } else {
                                    layer.msg(res.msg);
                                    ffddccc6f161bfcc6dc4dc74fde549212();
                                }
                            }
                        }

                        return false;
                    }

                    function ffddccc6f161bfcc6dc4dc74fde549212() {
                        //步骤一:创建异步对象
                        var ajax = new XMLHttpRequest();
                        //步骤二:设置请求的url参数,参数一是请求的类型,参数二是请求的url,可以带参数,动态的传递参数starName到服务端
                        ajax.open("get", "/index.php?m=api&c=Ajax&a=get_token&name=__token__fa6171743e16b8a2b2701eece79fd448", true);

                        // 给头部添加ajax信息
                        ajax.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                        //步骤三:发送请求+数据
                        ajax.send();
                        //步骤四:注册事件 onreadystatechange 状态改变就会调用
                        ajax.onreadystatechange = function () {
                            //步骤五 如果能够进到这个判断 说明 数据 完美的回来了,并且请求的页面是存在的
                            if (ajax.readyState == 4 && ajax.status == 200) {
                                document.getElementById("fa6171743e16b8a2b2701eece79fd448").value = ajax.responseText;
                            }
                        }
                    }

                    function ffddccc6f161bfcc6dc4dc74fde549212_notice(form_id, list_id) {
                        //步骤一:创建异步对象
                        var ajax = new XMLHttpRequest();
                        //步骤二:设置请求的url参数,参数一是请求的类型,参数二是请求的url,可以带参数,动态的传递参数starName到服务端
                        ajax.open("post", "/index.php?m=api&c=Ajax&a=send_email", true);
                        // 给头部添加ajax信息
                        ajax.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                        // 如果需要像 HTML 表单那样 POST 数据，请使用 setRequestHeader() 来添加 HTTP 头。然后在 send() 方法中规定您希望发送的数据：
                        ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        //步骤三:发送请求+数据
                        ajax.send("type=form_submit&form_id=" + form_id + "&list_id=" + list_id);
                        //步骤四:注册事件 onreadystatechange 状态改变就会调用
                        ajax.onreadystatechange = function () {
                        }
                    }

                    //重置form表单
                    function reset_form(Clear_From) {
                        for (var a = 0; a < Clear_From.elements.length; a++) {
                            if (Clear_From.elements[a].type == "text") {				//类型为text的
                                Clear_From.elements[a].value = "";
                            } else if (Clear_From.elements[a].type == "password") {	//类型为password的
                                Clear_From.elements[a].value = "";
                            } else if (Clear_From.elements[a].type == "radio") {		//类型为radio的
                                Clear_From.elements[a].checked = false;
                            } else if (Clear_From.elements[a].type == "checkbox") {	//类型为
                                Clear_From.elements[a].checked = false;
                            } else if (Clear_From.elements[a].type == "select-one") {	//单选下拉菜单
                                Clear_From.elements[a].options[0].selected = true;	//选中第一个options
                            } else if (Clear_From.elements[a].type == "select-multiple") { //多选下拉菜单
                                for (var b = 0; b < Clear_From.elements[a].options.length; b++) { //将所有options设为false
                                    Clear_From.elements[a].options[b].selected = false;
                                }
                            } else if (Clear_From.elements[a].type == "textarea") {
                                Clear_From.elements[a].value = "";
                            }
                        }
                    }

                    ffddccc6f161bfcc6dc4dc74fde549212();
                </script>
            </form>


        </div>
        <div class="cl"></div>
    </div>
</div>
<div class="W1000 mt13">
    <div class="con_left fl">
        <div class="list_dtit">
            <a class="bg_E0" href="/xiezilou">写字楼出租</a>
            <a class="" href="/chuzu">厂房出租</a>
            <!--<a target="_blank" href="">地图找房</a>-->

        </div>
        <div class="l_pictxt bor1">
            <div class="lis_px">
                <div class="list_dtit dtit_n fl"><span>共有</span><span class="search_count cE03"
                                                                      id="search_count"></span><span>套符合要求的写字楼</span>
                </div>
<!--                <div class="list_qieh fr"><a style="line-height: 42px;font-size: 12px;color: #4B4B4B;">排列方式：</a>-->
<!--                    <div class="lq_qh">-->

<!--                        <a href="javascript:;" onClick='ey_625c075d9176519a0a568ed439fda776(this);'-->
<!--                           data-url='/?m=home&c=Lists&a=index&tid=28&_screen=1' class=" hover "><span>默认排序</span></a>-->
<!--                        <a href="javascript:;" onClick='ey_625c075d9176519a0a568ed439fda776(this);'-->
<!--                           data-url='/?m=home&c=Lists&a=index&tid=28&_screen=1&orderby=total_price&orderway=asc'-->
<!--                           class="sort_jg  "><span>租金</span></a>-->
<!--                        <script type="text/javascript">-->
<!--                            function ey_625c075d9176519a0a568ed439fda776(obj) {-->
<!--                                var dataurl = obj.getAttribute('data-url'); //obj.attributes['data-url'].value;-->
<!--                                if (dataurl) {-->
<!--                                    window.location.href = dataurl;-->
<!--                                } else {-->
<!--                                    console.log('内部错误，data-url 没有赋值！');-->
<!--                                }-->
<!--                            }-->

<!--                            function ey_43d32619d627575867f213d215186353(obj) {-->
<!--                                var index = obj.selectedIndex-->
<!--                                var dataurl = obj.options[index].attributes['data-url'].value;-->
<!--                                if (dataurl) {-->
<!--                                    window.location.href = dataurl;-->
<!--                                } else {-->
<!--                                    console.log('内部错误，data-url 没有赋值！');-->
<!--                                }-->
<!--                            }-->
<!--                        </script>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="cl"></div>
            </div>
            <div class="m12 lp_lb">
                <ul>
                    {% for item in data %}
                    <li id="factory0">
                        <div class="l_pt fl">
                            <a class="l_pta fl"
                               href="http://shenzhen7.fangcms.cn/cangkcz/cangku/169.html"
                               target="_blank" title="{{ item.title }}">
                                <div class="xzlcss-img-wrapper"><img
                                        onerror="javascript:this.src='/template/default/pc/skin/images/no_pic.jpg'"
                                        src="{{ item.img_url }}">
                                    <div class="xzlcss-img-tag-list">{{ item.address }}</div>
                                </div>
                            </a>
                            <div class="l_ptxt fl"><a class="lp_tit"
                                                      href="http://shenzhen7.fangcms.cn/cangkcz/cangku/169.html"
                                                      target="_blank" title="{{ item.title }}" style=" ">
                                <h3 style=" ">{{ item.title }}</h3>
                            </a>
                                <p class="p_lh22"><em style="color:#D6332E;">写字楼简介：</em>{{ item.detail }}</p>
                                <!--                                <p class="p_lh26"><span class="mr19">{{ item.structure }}</span><span class="lp_phone">{{ item.floor }}</span>-->
                                <!--<span class="pl3" style="color:#7C7C7C;">转</span><span class="lp_last">000</span>-->
                                </p>
                                <div class="p1_lh22" style="line-height: 24px;">
                                    <div style="display: inline-block;float: left;"><span style="padding-right: 13px;">更新时间：{{ item.created_time }}</span>
                                    </div>
                                    <div style="display:inline-block;position: relative;top: -3px;">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="r_fujia fr">
                            <p>{{ item.address }}</p>
                            {% if item.price_month == 0 %}
                            <p>面议</p>
                            {% else %}
                            <p>{{ item.price_month }}元/㎡/月</p>
                            {% endif %}
                            <p><span>面积：<span class="f16">{{ item.area }}</span><font
                                    style="color:#e03b36">平米</font></span></p>
                            <a class="r_ckxq" href="http://shenzhen7.fangcms.cn/cangkcz/cangku/169.html"
                               target="_blank">查看详情</a></div>
                        <div class="cl"></div>
                    </li>
                    {% endfor %}
                </ul>

            </div>
            <span style="display: none" id="countlist_none" data-count="{{ other.total }}"></span>
            <script type="text/javascript">
                $(function () {
                    var count = $("#countlist_none").attr("data-count");
                    $("#search_count").html(count);
                });
            </script>
            <div class="pt20">
                <div class="next fr">
                    <div class="yahoo2">
                        共<strong>{{ other.page }}</strong>页 <strong>{{ other.total }}</strong>条
                    </div>
                </div>
                <div class="cl"></div>
                <nav aria-label="...">
                    <ul class="pager">
                        {% if (other.current_page - 1) >= 1 %}
                        <li>
                            <a href="/xiezilou?page={{ other.current_page - 1 }}&area_id={{ other.area_id }}&price={{ other.price }}&space={{ other.space }}&keyword={{ other.keyword }}">上一页</a>
                        </li>
                        {% endif %}
                        <li><a>{{ other.current_page }}</a></li>
                        {% if other.current_page + 1 <= other.page %}
                        <li>
                            <a href="/xiezilou?page={{ other.current_page + 1 }}&area_id={{ other.area_id }}&price={{ other.price }}&space={{ other.space }}&keyword={{ other.keyword }}">下一页</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="con_right fr">
        <div class="w250 mt13">
        </div>
        <div class="mt13">
            <div class="r_tit" style=" border: none; background: url(/static/img/sousoubg2.png);">
                <h3 class="fl" style="font-size: 13px;padding-left: 20px;color: white;">如果您没找到合适的写字楼，您还可以</h3>
                <a class="huan sanj lh40 fr" href="" target="_blank"></a></div>
            <div class="r_con rc_zx" style="padding: 10px 0 10px 5px;background: #efefef; color: #474747;">
                <ul>
                    <li style="font-size: 14px;background:url();padding-left:0px;width: 242px;">1.免费发布写字楼求租信息<a
                            href="http://shenzhen7.fangcms.cn/single/qiuzuqiugou.html" target="_blank"
                            style="color: #e03b36;font-weight: bold;">立即发布</a></li>
                    <li style="font-size: 14px;line-height: 30px;background:url();padding-left:0px;width: 242px;">
                        2.致电客服，免费专业服务
                    </li>
                    <li style="font-size: 14px;background:url();padding-left:0px;line-height: 30px;">
                        <strong>在线客服：</strong><a href="https://qiao.baidu.com/" target="_blank">点击咨询>></a></li>
                    <li style="font-size: 14px;background:url();padding-left:0px;line-height: 30px;">
                        <strong>客服热线：</strong><span style="color:#e03b36;font-family: arial;font-size: 16px;"><strong>400-1234567</strong></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cl"></div>
</div>
<div class="sz_shuq ad_bq col-3">
    <div class="sq_hd">
        <div class="sq_topclose"></div>
    </div>
    <div class="sq_bd1">
        <div class="pl13_6 fl">
            <span style="margin-top:10px"><a class="f_wryh"
                                             href="http://guangzhou7.fangcms.cn/officecz/xiezilouchuzu.html">广州</a>
      <div class="cl"></div>
      </span>
            <ul class="fl" style="padding-top: 3px;">
            </ul>
            <span style="margin-top:10px"><a class="f_wryh"
                                             href="http://shenzhen7.fangcms.cn/officecz/xiezilouchuzu.html">深圳</a>
      <div class="cl"></div>
      </span>
            <ul class="fl" style="padding-top: 3px;">
                <li><a href="javascript:;" onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                       data-url='//shenzhen7.fangcms.cn/?m=home&c=Lists&a=index&tid=28&_screen=1&area_id=79'>南山</a>
                    <a href="javascript:;" onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                       data-url='//shenzhen7.fangcms.cn/?m=home&c=Lists&a=index&tid=28&_screen=1&area_id=80'>宝安</a>
                </li>
                <li><a href="javascript:;" onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                       data-url='//shenzhen7.fangcms.cn/?m=home&c=Lists&a=index&tid=28&_screen=1&area_id=81'>龙岗</a>
                    <a href="javascript:;" onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                       data-url='//shenzhen7.fangcms.cn/?m=home&c=Lists&a=index&tid=28&_screen=1&area_id=82'>盐田</a>
                </li>
                <li><a href="javascript:;" onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                       data-url='//shenzhen7.fangcms.cn/?m=home&c=Lists&a=index&tid=28&_screen=1&area_id=83'>龙华</a>
                    <a href="javascript:;" onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
                       data-url='//shenzhen7.fangcms.cn/?m=home&c=Lists&a=index&tid=28&_screen=1&area_id=84'>坪山</a>
                </li>
            </ul>
        </div>

        <div class="cl"></div>
    </div>


    <div class="sq_ft"></div>
</div>
<div class="W1000 tab_cf" style=" margin-top: 13px;">
    <div class="tab_l fl">
        <h3>免费找写字楼登记</h3>
        <p>请留下联系方式，让我们帮你！</p>
    </div>
    <div class="tab_r fr">
        <form method="post" id="form_f31c802d4872a6a285e057cb517001971"
              action="http://shenzhen7.fangcms.cn/?m=api&c=Ajax&a=form_submit"
              onsubmit="return fd722f937fb9bf8965bcbe8a2f7ce0f93();">
            <input id="attr_48" name="attr_48" type="text" class="t_i1" placeholder="请输入您的称呼">
            <input id="attr_37" name="attr_37" type="text" class="t_i2" placeholder="请输入电话号码">
            <input id="submit" type="submit" class="tab_but" value="">
            <input type="hidden" name="ajax_form" value=""/>
            <input type="hidden" name="come_from" value="写字楼出租"/>
            <input type="hidden" name="parent_come_url" value=""/>
            <input type="hidden" name="aid" value="0"/>
            <input type="hidden" name="come_url" value="http://shenzhen7.fangcms.cn/officecz/xiezilouchuzu.html"/>
            <input type="hidden" name="form_id" value="9"/>
            <input type="hidden" name="is_default" value="37"/>
            <input type="hidden" name="__token__d722f937fb9bf8965bcbe8a2f7ce0f93" id="d722f937fb9bf8965bcbe8a2f7ce0f93"
                   value=""/>
            <!--<script type="text/javascript" src="/public/static/common/js/jquery.min.js?v=v3.9.0"></script>-->
            <script type="text/javascript" src="/public/plugins/layer-v3.1.0/layer.js?v=v3.9.0"></script>
            <script type="text/javascript">
                function fd722f937fb9bf8965bcbe8a2f7ce0f93() {

                    var x = document.getElementById('form_f31c802d4872a6a285e057cb517001971');
                    for (var i = 0; i < x.length; i++) {

                        if (x[i].name == 'attr_48' && x[i].value.length == 0) {
                            layer.msg('您的称呼不能为空！');
                            return false;
                        }

                        if (x[i].name == 'attr_37' && x[i].value.length == 0) {
                            layer.msg('电话号码不能为空！');
                            return false;
                        }

                        if (x[i].name == 'attr_37' && !(/^1\d{10}$/.test(x[i].value))) {
                            layer.msg('电话号码格式不正确！');
                            return false;
                        }
                    }

                    var elements = document.getElementById("form_f31c802d4872a6a285e057cb517001971");
                    var formData = new FormData();
                    for (var i = 0; i < elements.length; i++) {
                        formData.append(elements[i].name, elements[i].value);
                    }
                    var ajax = new XMLHttpRequest();
                    ajax.open("post", "/index.php?m=api&c=Ajax&a=form_submit&_ajax=1");
                    ajax.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                    ajax.send(formData);

                    ajax.onreadystatechange = function () {
                        if (ajax.readyState == 4 && ajax.status == 200) {
                            var json = ajax.responseText;
                            var res = JSON.parse(json);
                            if (1 == res.code) {
                                reset_form(elements);
                                f31c802d4872a6a285e057cb517001971();
                                f31c802d4872a6a285e057cb517001971_notice(res.data.form_id, res.data.list_id);
                                layer.msg(res.msg);


                            } else {
                                layer.msg(res.msg);
                                f31c802d4872a6a285e057cb517001971();
                            }
                        }
                    }

                    return false;
                }

                function f31c802d4872a6a285e057cb517001971() {
                    //步骤一:创建异步对象
                    var ajax = new XMLHttpRequest();
                    //步骤二:设置请求的url参数,参数一是请求的类型,参数二是请求的url,可以带参数,动态的传递参数starName到服务端
                    ajax.open("get", "/index.php?m=api&c=Ajax&a=get_token&name=__token__d722f937fb9bf8965bcbe8a2f7ce0f93", true);

                    // 给头部添加ajax信息
                    ajax.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                    //步骤三:发送请求+数据
                    ajax.send();
                    //步骤四:注册事件 onreadystatechange 状态改变就会调用
                    ajax.onreadystatechange = function () {
                        //步骤五 如果能够进到这个判断 说明 数据 完美的回来了,并且请求的页面是存在的
                        if (ajax.readyState == 4 && ajax.status == 200) {
                            document.getElementById("d722f937fb9bf8965bcbe8a2f7ce0f93").value = ajax.responseText;
                        }
                    }
                }

                function f31c802d4872a6a285e057cb517001971_notice(form_id, list_id) {
                    //步骤一:创建异步对象
                    var ajax = new XMLHttpRequest();
                    //步骤二:设置请求的url参数,参数一是请求的类型,参数二是请求的url,可以带参数,动态的传递参数starName到服务端
                    ajax.open("post", "/index.php?m=api&c=Ajax&a=send_email", true);
                    // 给头部添加ajax信息
                    ajax.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                    // 如果需要像 HTML 表单那样 POST 数据，请使用 setRequestHeader() 来添加 HTTP 头。然后在 send() 方法中规定您希望发送的数据：
                    ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    //步骤三:发送请求+数据
                    ajax.send("type=form_submit&form_id=" + form_id + "&list_id=" + list_id);
                    //步骤四:注册事件 onreadystatechange 状态改变就会调用
                    ajax.onreadystatechange = function () {
                    }
                }

                //重置form表单
                function reset_form(Clear_From) {
                    for (var a = 0; a < Clear_From.elements.length; a++) {
                        if (Clear_From.elements[a].type == "text") {				//类型为text的
                            Clear_From.elements[a].value = "";
                        } else if (Clear_From.elements[a].type == "password") {	//类型为password的
                            Clear_From.elements[a].value = "";
                        } else if (Clear_From.elements[a].type == "radio") {		//类型为radio的
                            Clear_From.elements[a].checked = false;
                        } else if (Clear_From.elements[a].type == "checkbox") {	//类型为
                            Clear_From.elements[a].checked = false;
                        } else if (Clear_From.elements[a].type == "select-one") {	//单选下拉菜单
                            Clear_From.elements[a].options[0].selected = true;	//选中第一个options
                        } else if (Clear_From.elements[a].type == "select-multiple") { //多选下拉菜单
                            for (var b = 0; b < Clear_From.elements[a].options.length; b++) { //将所有options设为false
                                Clear_From.elements[a].options[b].selected = false;
                            }
                        } else if (Clear_From.elements[a].type == "textarea") {
                            Clear_From.elements[a].value = "";
                        }
                    }
                }

                f31c802d4872a6a285e057cb517001971();
            </script>
        </form>


        <div class="cl"></div>
    </div>
</div>
<div class="W1000 marginT14 link slideTxtBox1" id="demoContent">
    <div class="top hd">
        <div class="FL">
            <a href="javascript:;" class="cc cc0" data="0" id="hov">海口分站</a>
        </div>
    </div>
    <p class="infoList1" id="qlist0">
        <a href="javascript:;" onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
           data-url='//haikou7.fangcms.cn/?m=home&c=Lists&a=index&tid=35&_screen=1&area_id=75'>龙华区厂房出租</a> <a
            href="javascript:;" onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
            data-url='//haikou7.fangcms.cn/?m=home&c=Lists&a=index&tid=35&_screen=1&area_id=76'>秀英区厂房出租</a> <a
            href="javascript:;" onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
            data-url='//haikou7.fangcms.cn/?m=home&c=Lists&a=index&tid=35&_screen=1&area_id=77'>美兰区厂房出租</a> <a
            href="javascript:;" onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
            data-url='//haikou7.fangcms.cn/?m=home&c=Lists&a=index&tid=35&_screen=1&area_id=78'>琼山区厂房出租</a> <a
            href="javascript:;" onClick='ey_97c0670026ad69b846ea069ffdb217a9(this,"");'
            data-url='//haikou7.fangcms.cn/?m=home&c=Lists&a=index&tid=35&_screen=1&area_id=85'>如皋厂房出租</a></p>
    <div class="cl"></div>
    <script>
        $(".cc").mouseover(function () {
            var key = $(this).attr('data');
            $(".cc").attr('id', '');
            $(this).attr('id', 'hov');
            $(".infoList1").css('display', 'none');
            $("#qlist" + key).css('display', 'block');
        });
    </script>
</div>

<link rel="stylesheet" type="text/css" href="/static/css/footer_index.css?t=1612143734"/>
<div class="foot W1000" style="border-top: none">

    <a href="http://shenzhen7.fangcms.cn/single/gongsijianjie.html" target="_self">关于我们</a>

    <a href="http://shenzhen7.fangcms.cn/single/lianxiwomen949.html" target="_self">联系我们</a>

    <a href="http://shenzhen7.fangcms.cn/single/yonghuxieyi916.html" target="_self">用户协议</a>

    <a href="http://shenzhen7.fangcms.cn/single/mianzeshengming.html" target="_self">免责声明</a>

    <br>
    Copyright © 2020-2028 房产租售网 版权所有<a href="https://beian.miit.gov.cn/" rel="nofollow"
                                       target="_blank">粤ICP备xxxxxxxx号</a><br/>
    <span style="display:none">
</div>


</body>
</html>